{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Replace accountname with your account name",
      "url": "https://accountname.exavault.com/api/v2"
    }
  ],
  "info": {
    "contact": {
      "email": "support@exavault.com",
      "name": "ExaVault Support"
    },
    "description": "ExaVaults API allows you to incorporate ExaVaults suite of file transfer and user management tools into your own application.\\nExaVault supports both POST (recommended when requesting large data sets) and GET operations, and requires an API key in order to use.",
    "title": "ExaVault",
    "version": "2.0",
    "x-apisguru-categories": [
      "storage"
    ],
    "x-logo": {
      "backgroundColor": "#222222",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_ExaVaultInc_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "2.6.0"
        },
        "format": "openapi",
        "url": "https://exavault-website.cdn.prismic.io/exavault-website/2d2d871e-394d-433e-9305-f38b6656f279_evapi_2.0_public.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "exavault.com"
  },
  "externalDocs": {
    "url": "https://www.exavault.com/developer/"
  },
  "tags": [
    {
      "description": "This section contains information on how to authenticate and logout from the API. **All ExaVault API calls (other than the authenticateUser method itself) require an access token.**",
      "name": "Authentication"
    },
    {
      "description": "The file and folder management APIs allow you to work with the core of your account. You can upload or download files and create, move and delete files \u0026 folders, to name a few options.",
      "name": "Resources"
    },
    {
      "description": "The activity APIs allow you to get logs from your account. We track multiple types of under the umbrellas; __Activity Logs__ that show an action a user performed or initiated on a file, folder or the account. __Webhooks Logs__ that show records of all outbound webhook calls made by ExaVault. Both can be optionally filtered to only return specific data you’re looking for.",
      "name": "Activity"
    },
    {
      "description": "The user APIs allow you to create, update and delete users from your account. Users can be assigned unique permissions, set to expire after a certain time period, and more.",
      "name": "Users"
    },
    {
      "description": "The sharing APIs allow you create and manage shares. Shares can be used to send a single file, share a folder, or set up a receive folder and its input form.",
      "name": "Shares"
    },
    {
      "description": "The notifications APIs allow you to set up and manage notifications in your account. When an action is taken on a file folder, you can be notified via email or webhook.",
      "name": "Notifications"
    },
    {
      "description": "The email lists APIs allow you to manage email lists that can be used for speeding up actions within the ExaVault File Manager such as adding your marketing team, Tom, Jane, and Harry, to a shared folder in a single action instead of three.",
      "name": "Email Lists"
    },
    {
      "description": "The account APIs allow you review and change account settings. Many account settings will have immediate effects on all current and future users, so consider adding a user facing confirmation step before sending an update call.",
      "name": "Account"
    },
    {
      "description": "THe SSH Keys APIs allow you to manage SSH keys for users in your account. You can upload the contents of a public key for a user, get information for keys which are already defined, and remove a key from a user.",
      "name": "SSH Keys"
    },
    {
      "description": "The forms APIs allow you to manage the inputs and data submitted through receive folder forms.",
      "name": "Form"
    },
    {
      "description": "The recipients APIs allow to retrieve, delete, or resend invitations for recipients of shared folders.",
      "name": "Recipients"
    },
    {
      "description": "The emails APIs allow you to generate welcome emails for account users and referral emails.",
      "name": "Email"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "description": "Get settings for your account, such as current space usage, webhooks settings, welcome email content and IP address restrictions.",
        "operationId": "getAccount",
        "parameters": [
          {
            "description": "API Key required for the request",
            "in": "header",
            "name": "ev-api-key",
            "required": true,
            "schema": {
              "example": "exampleaccount-zwSuWUZ8S38h33qPS8v0s",
              "type": "string"
            }
          },
          {
            "description": "Access Token for the request",
            "in": "header",
            "name": "ev-access-token",
            "required": true,
            "schema": {
              "example": "19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1",
              "type": "string"
            }
          },
          {
            "description": "Related records to include in the response. Valid option is **masterUser**",
            "in": "query",
            "name": "include",
            "schema": {
              "example": "masterUser",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "accountName": "exampleaccount",
                      "accountOnboarding": true,
                      "branding": true,
                      "clientId": 1.0,
                      "complexPasswords": false,
                      "created": "2019-05-30T20:48:57Z",
                      "customDomain": false,
                      "maxUsers": 5.0,
                      "modified": "2019-08-27T01:03:41Z",
                      "quota": {
                        "bandwidthLimit": 9.223372036854776E18,
                        "bandwidthUsed": 0.0,
                        "diskLimit": 1.073741824E11,
                        "diskUsed": 4.770252339E9,
                        "noticeEnabled": false,
                        "noticeThreshold": 90.0,
                        "transactionsLimit": 120000.0,
                        "transactionsNoticeEnabled": false,
                        "transactionsNoticeThreshold": 90.0
                      },
                      "secureOnly": false,
                      "showReferralLinks": true,
                      "status": 1.0,
                      "userCount": 4.0,
                      "welcomeEmailContent": "\"Great news, your new account is ready!\\n\\nFor your records, we\u0027ve listed information you\u0027ll use to log in below:\\n\\nFTP Server: [[ftpserver]]\\n\\nUsername (Web and FTP access): [[username]]\\n\\n[[setpassword]]\"\n",
                      "welcomeEmailSubject": "ExaVault File Sharing Account"
                    },
                    "id": 7.0,
                    "included": [
                      {
                        "attributes": {
                          "accessTimestamp": "2019-09-06T11:40:29Z",
                          "accountId": 2.0,
                          "accountName": "examplemasteraccount",
                          "created": "2019-05-29T20:48:57Z",
                          "email": "user@example.com",
                          "firstLogin": false,
                          "homeDir": "/",
                          "modified": "2019-07-27T01:03:41Z",
                          "nickname": "examplenickname",
                          "onboarding": true,
                          "permissions": {
                            "changePassword": true,
                            "delete": true,
                            "deleteFormData": true,
                            "download": true,
                            "list": true,
                            "modify": true,
                            "notification": true,
                            "share": true,
                            "upload": true,
                            "viewFormData": true
                          },
                          "role": "master",
                          "status": 1.0,
                          "timeZone": "UTC",
                          "username": "examplemasteruser"
                        },
                        "id": 1.0,
                        "relationships": {
                          "homeResource": {
                            "data": {
                              "id": 2554051.0,
                              "type": "resource"
                            }
                          },
                          "ownerAccount": {
                            "data": {
                              "id": 124437.0,
                              "type": "account"
                            }
                          }
                        },
                        "type": "user"
                      }
                    ],
                    "relationships": {
                      "masterUser": {
                        "data": {
                          "id": 1.0,
                          "type": "user"
                        }
                      }
                    },
                    "type": "account"
                  },
                  "responseStatus": 200.0
                },
                "schema": {
                  "properties": {
                    "data": {
                      "description": "Object contains all account properties.",
                      "properties": {
                        "attributes": {
                          "description": "",
                          "properties": {
                            "accountName": {
                              "description": "Name of the account",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "accountOnboarding": {
                              "description": "Whether the web application onboarding help is enabled for new users in the account.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "allowedIp": {
                              "description": "Range of IP addresses allowed to access this account.",
                              "example": [
                                {
                                  "ipEnd": "192.30.24.5",
                                  "ipStart": "192.30.23.2"
                                }
                              ],
                              "items": {
                                "properties": {
                                  "ipEnd": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "ipStart": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "type": "array",
                              "in": "RESPONSE_BODY"
                            },
                            "branding": {
                              "description": "Branding flag. Set to `true` if the account has branding functionality enabled.",
                              "enum": [
                                true,
                                false
                              ],
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "brandingSettings": {
                              "properties": {
                                "companyName": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "customEmail": {
                                  "example": "custom@example.com",
                                  "format": "email",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "logo": {
                                  "example": "examplelogo.png",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "logoExt": {
                                  "example": "png",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "theme": {
                                  "example": "default",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomain": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomainId": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomainValid": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "BrandingSettings",
                              "type": "object",
                              "x-schemaName": "BrandingSettings",
                              "in": "RESPONSE_BODY"
                            },
                            "clientId": {
                              "description": "(ExaVault Use Only) Internal ID of the account in CMS.",
                              "example": 1.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "complexPasswords": {
                              "description": "Flag to indicate whether the account requires complex passwords. Set to `true` to require complex passwords on all users and shares.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "created": {
                              "description": "Timestamp of account creation.",
                              "example": "2017-01-12T09:06:21Z",
                              "format": "date-time",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "customDomain": {
                              "description": "Custom domain flag. Set to `true` if account type allows custom domain functionality.",
                              "enum": [
                                true,
                                false
                              ],
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "customSignature": {
                              "description": "Custom signature for all account emails users or recipients will receive.",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "externalDomains": {
                              "description": "Custom domain used to brand this account.",
                              "example": [],
                              "items": {
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "type": "array",
                              "in": "RESPONSE_BODY"
                            },
                            "maxUsers": {
                              "description": "Maximum number of users the account can have. This can be increased by contacting ExaVault Support.",
                              "example": 1000.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "modified": {
                              "description": "Timestamp of account modification.",
                              "example": "2017-06-03T20:42:05Z",
                              "format": "date-time",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "planDetails": {
                              "properties": {
                                "apiKeys": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "apiTokens": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "colorSchema": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "customDomain": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "customName": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "directLinks": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "ipWhitelist": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "sharingOptions": {
                                  "items": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "type": "array",
                                  "in": "RESPONSE_BODY"
                                },
                                "sshKeys": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "storageAddOn": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "unlimitedUsers": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "userExpiration": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "userImport": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "webhookOptions": {
                                  "properties": {
                                    "amount": {
                                      "type": "integer",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "includeTriggers": {
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "restrictionTypes": {
                                      "items": {
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": "array",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "PlanDetails",
                              "type": "object",
                              "x-schemaName": "PlanDetails",
                              "in": "RESPONSE_BODY"
                            },
                            "quota": {
                              "properties": {
                                "bandwidthLimit": {
                                  "description": "Total number of bytes that can be transferred per month.",
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "bandwidthUsed": {
                                  "description": "Number of bytes transferred this month.",
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "diskLimit": {
                                  "description": "Amount of disk space that the account has available to it. This may be increased by upgrading to a larger plan.",
                                  "example": 3.758096384E11,
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "diskUsed": {
                                  "description": "Amount of disk space currently in use.",
                                  "example": 1.225352192E9,
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "noticeEnabled": {
                                  "description": "Should a quota warning be sent to the account owner when a threshold level of space utilization is reached?",
                                  "example": true,
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "noticeThreshold": {
                                  "description": "Treshold that triggers a quota notification. This represents the \"percent full\" your account must be before the quota notification is generated.",
                                  "example": 80.0,
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsLimit": {
                                  "description": "Total number of transactions allowed in a 24-hour period.",
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsNoticeEnabled": {
                                  "description": "Whether an email should be sent to the account owner up to once per day if transaction usage exceeds `transactionsNoticeThreshold` value.",
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsNoticeThreshold": {
                                  "description": "Percent of daily transactions limit that will trigger an email if activity exceeds it.",
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "Quota",
                              "type": "object",
                              "x-schemaName": "Quota",
                              "in": "RESPONSE_BODY"
                            },
                            "secureOnly": {
                              "description": "Flag to indicate whether the account disables connections via insecure protocols (e.g. FTP). Set to `true` to disable all traffic over port 21.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "showReferralLinks": {
                              "description": "Flag to indicate showing of referrals links in the account. Set to `true` to include marketing messages in share invitations.",
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "status": {
                              "description": "Account status flag. A one (1) means the account is active; zero (0) means it is suspended.",
                              "enum": [
                                1.0,
                                0.0
                              ],
                              "example": 1.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "userCount": {
                              "description": "Current number of users on the account.",
                              "example": 3.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "welcomeEmailContent": {
                              "description": "Content of welcome email each new user will receive.",
                              "example": "Welcome to your new account!",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "welcomeEmailSubject": {
                              "description": "Subject of welcome email each new user will receive.",
                              "example": "ExaVault File Sharing Account",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "title": "",
                          "type": "object",
                          "x-schemaName": "AccountAttributes",
                          "in": "RESPONSE_BODY"
                        },
                        "id": {
                          "description": "Account ID",
                          "example": 13758.0,
                          "format": "int32",
                          "type": "integer",
                          "in": "RESPONSE_BODY"
                        },
                        "relationships": {
                          "properties": {
                            "masterUser": {
                              "properties": {
                                "data": {
                                  "properties": {
                                    "id": {
                                      "description": "ID of master user for account",
                                      "type": "integer",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "type": {
                                      "enum": [
                                        "user"
                                      ],
                                      "example": "user",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "title": "MasterUser",
                          "type": "object",
                          "in": "RESPONSE_BODY"
                        },
                        "type": {
                          "description": "Type of item. \"account\"",
                          "enum": [
                            "account"
                          ],
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "title": "Account",
                      "type": "object",
                      "x-schemaName": "Account",
                      "in": "RESPONSE_BODY"
                    },
                    "included": {
                      "description": "Array can contain objects specified in include param of the get call e.g User object",
                      "items": {
                        "description": "Object contains user properties.",
                        "properties": {
                          "attributes": {
                            "description": "Attributes of the user including expiration, home directory, and permissions. ",
                            "properties": {
                              "accessTimestamp": {
                                "description": "Timestamp of most recent successful user login.",
                                "example": "2011-03-21T00:18:56-07:00",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "accountName": {
                                "description": "Name of the account this user belongs to.",
                                "example": "exampleaccount",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "created": {
                                "description": "Timestamp of user creation.",
                                "example": "2018-07-27T15:43:55-07:00",
                                "format": "date-time",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "email": {
                                "description": "Email address of the user.",
                                "example": "example@exavault.mail",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "expiration": {
                                "description": "Timestamp of user expiration.",
                                "example": "2020-06-30T13:33:30-07:00",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "firstLogin": {
                                "description": "`true` if the user has logged into the system.",
                                "example": false,
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "homePath": {
                                "description": "Path to the user\u0027s home folder.",
                                "example": "/",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "locked": {
                                "description": "`true` if the user is locked and cannot log in.",
                                "example": false,
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "modified": {
                                "description": "Timestamp of user modification.",
                                "example": "2018-07-29T15:43:55-07:00",
                                "format": "date-time",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "nickname": {
                                "description": "Nickname of the user.",
                                "example": "exampleuser",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "onboarding": {
                                "description": "Whether the onboarding help system is enabled for this user. `true` means that additional help popups are displayed in the web application for this user.",
                                "example": false,
                                "type": "boolean",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "permissions": {
                                "properties": {
                                  "changePassword": {
                                    "description": "Change (own) password permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "delete": {
                                    "description": "Delete permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "deleteFormData": {
                                    "description": "Delete form data permission flag. If true, user can remove data that was submitted for a receive folder. This applies only to data submitted in the receive folder form, not the actual files uploaded.",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "download": {
                                    "description": "Download permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "list": {
                                    "description": "View folder contents permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "modify": {
                                    "description": "Modify permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "notification": {
                                    "description": "Notifications permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "share": {
                                    "description": "Sharing permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "upload": {
                                    "description": "Upload permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "viewFormData": {
                                    "description": "Access Form Data permission flag. If true, user can view submissions that have been stored for a receive folder. This includes any data submitted in the receive folder form.",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "title": "UserPermissions",
                                "type": "object",
                                "x-schemaName": "UserPermissions",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "role": {
                                "description": "User\u0027s access level",
                                "enum": [
                                  "user",
                                  "admin",
                                  "master"
                                ],
                                "example": "user",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "status": {
                                "description": "Indicates user activity status. `0` means the user is locked and cannot log in. `1` means the user is active and can log in.",
                                "enum": [
                                  0.0,
                                  1.0
                                ],
                                "example": 1.0,
                                "format": "int32",
                                "type": "integer",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "timeZone": {
                                "description": "User\u0027s timezone. See \u003ca href\u003d\u0027https://php.net/manual/en/timezones.php\u0027 target\u003d\u0027blank\u0027\u003ethis page\u003c/a\u003e for allowed values.",
                                "example": "America/Chicago",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "username": {
                                "description": "Username of the user.",
                                "example": "exampleuser",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "title": "UserAttributes",
                            "type": "object",
                            "x-schemaName": "UserAttributes",
                            "in": "RESPONSE_BODY"
                          },
                          "id": {
                            "description": "ID of the user.",
                            "example": 655621.0,
                            "format": "int32",
                            "type": "integer",
                            "in": "RESPONSE_BODY"
                          },
                          "relationships": {
                            "description": "Home resource and owner account relationship data for the user. ",
                            "properties": {
                              "homeResource": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "ID of home directory resource.",
                                        "format": "int64",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": {
                                        "description": "Type is resource.",
                                        "enum": [
                                          "resource"
                                        ],
                                        "example": "resource",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "ownerAccount": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "ID of the account.",
                                        "format": "int32",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": {
                                        "description": "Type is account.",
                                        "enum": [
                                          "account"
                                        ],
                                        "example": "account",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "in": "RESPONSE_BODY"
                          },
                          "type": {
                            "description": "Type of object being returned. Always \"user\"",
                            "example": "user",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "title": "User",
                        "type": "object",
                        "x-schemaName": "User",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "responseStatus": {
                      "example": 200.0,
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "title": "AccountResponse",
                  "type": "object",
                  "x-schemaName": "AccountResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Get account settings",
        "tags": [
          "Account"
        ]
      },
      "patch": {
        "description": "Update account settings, such as welcome email content, IP address restrictions, webhooks settings and secure password requirements.\n\n**Notes**\n\n- You must have [admin-level access](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions) to change account settings.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "description": "API Key required to make the API call.",
            "example": "exampleaccount-zwSuWUZ8S38h33qPS8v0s",
            "in": "header",
            "name": "ev-api-key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Access token required to make the API call.",
            "example": "19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1",
            "in": "header",
            "name": "ev-access-token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "accountOnboarding": true,
                "allowedIpRanges": [
                  {
                    "ipEnd": "67.208.64.254",
                    "ipStart": "67.208.64.228"
                  }
                ],
                "brandingSettings": {
                  "companyName": "Example File Transfer",
                  "theme": "light"
                },
                "complexPasswords": true,
                "customSignature": "Please consider the planet before printing this email",
                "emailContent": "Greetings, ExampleUser!  Your account is ready for you to start transferring files right now. Here\u0027s your link to set up your account [[setpassword]]  Henceforth, you shall be known as [[username]]",
                "emailSubject": "Welcome to the Example Account",
                "externalDomain": "https://example.com/files",
                "quota": {
                  "noticeEnabled": true,
                  "noticeThreshold": 90.0,
                  "transactionsNoticeEnabled": true,
                  "transactionsNoticeThreshold": 80.0
                },
                "secureOnly": true,
                "showReferralLinks": false
              },
              "schema": {
                "properties": {
                  "accountOnboarding": {
                    "description": "Whether extra help popups can be enabled for users in the web file manager.",
                    "example": true,
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  },
                  "allowedIpRanges": {
                    "description": "IP Address Ranges for restricting account access",
                    "items": {
                      "properties": {
                        "ipEnd": {
                          "format": "ipv4",
                          "type": "string",
                          "in": "REQUEST_BODY"
                        },
                        "ipStart": {
                          "format": "ipv4",
                          "type": "string",
                          "in": "REQUEST_BODY"
                        }
                      },
                      "type": "object",
                      "in": "REQUEST_BODY"
                    },
                    "type": "array",
                    "in": "REQUEST_BODY"
                  },
                  "brandingSettings": {
                    "properties": {
                      "companyName": {
                        "description": "Custom company name to include in copyright and title bar.",
                        "type": "string",
                        "in": "REQUEST_BODY"
                      },
                      "customEmail": {
                        "description": "Address to use as sender of email messages generated by ExaVault",
                        "example": "custom@example.com",
                        "format": "email",
                        "type": "string",
                        "in": "REQUEST_BODY"
                      },
                      "theme": {
                        "description": "Color scheme for web file manager. Valid options are **default**, **light** and **dark**",
                        "example": "default",
                        "type": "string",
                        "in": "REQUEST_BODY"
                      }
                    },
                    "title": "BrandingSettingsValues",
                    "type": "object",
                    "in": "REQUEST_BODY"
                  },
                  "complexPasswords": {
                    "description": "Whether to require complex passwords for all passwords.",
                    "example": false,
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  },
                  "customSignature": {
                    "description": "Signature to be automatically added to the bottom of emails generated by the account.",
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "emailContent": {
                    "description": "Content of welcome email template.",
                    "example": "Great news, your new account is ready! For your records, we\u0027ve listed information you\u0027ll use to log in below: FTP Server: [[ftpserver]] Username (Web and FTP access): [[username]] [[setpassword]]",
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "emailSubject": {
                    "description": "Subject line for welcome emails",
                    "example": "ExaVault File Sharing Account",
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "externalDomain": {
                    "description": "Custom address used for web file manager. Not available for all account types.",
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "quota": {
                    "description": "",
                    "properties": {
                      "noticeEnabled": {
                        "description": "Whether the system should email the account owner if the account storage exceeds the noticeThreshold value. Storage notice emails are sent no mo once per day.",
                        "type": "boolean",
                        "in": "REQUEST_BODY"
                      },
                      "noticeThreshold": {
                        "description": "Percent of account storage that would trigger a notice email. Must be a whole number between 70 and 100 (inclusive).",
                        "type": "integer",
                        "in": "REQUEST_BODY"
                      },
                      "transactionsNoticeEnabled": {
                        "description": "Whether the system should email the account owner if the daily transaction usage exceeds the transactionsNoticeThreshold value. Transaction notice emails are sent no more than once per day.",
                        "type": "boolean",
                        "in": "REQUEST_BODY"
                      },
                      "transactionsNoticeThreshold": {
                        "description": "Percent of daily transaction usage that would trigger a notice email. Must be a whole number between 70 and 100 (inclusive).",
                        "type": "integer",
                        "in": "REQUEST_BODY"
                      }
                    },
                    "title": "AccountQuotaValues",
                    "type": "object",
                    "in": "REQUEST_BODY"
                  },
                  "secureOnly": {
                    "description": "Whether unencrypted FTP connections should be denied for the account.",
                    "example": false,
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  },
                  "showReferralLinks": {
                    "description": "Whether to display links for others to sign up on share views and invitation emails",
                    "example": false,
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  }
                },
                "title": "UpdateAccountRequestBody",
                "type": "object",
                "in": "request_body"
              }
            }
          },
          "description": "Update Account Settings",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "accountName": "exampleaccount",
                      "accountOnboarding": true,
                      "allowedIp": [],
                      "branding": true,
                      "brandingSettings": {
                        "accountName": "exampleaccount",
                        "companyName": "Example Company",
                        "created": "2021-01-14T11:06:52-08:00",
                        "customEmail": "custom@example.com",
                        "logo": "examplelogo.png",
                        "logoExt": "png",
                        "modified": "2021-02-08T10:35:15-08:00",
                        "theme": "default",
                        "verifiedDomainValid": false
                      },
                      "clientId": 1.0,
                      "complexPasswords": false,
                      "created": "2019-05-30T20:48:57Z",
                      "customDomain": false,
                      "maxUsers": 5.0,
                      "modified": "2019-08-27T01:03:41Z",
                      "quota": {
                        "bandwidthLimit": 9.223372036854776E18,
                        "bandwidthUsed": 0.0,
                        "diskLimit": 1.073741824E11,
                        "diskUsed": 4.770252339E9,
                        "noticeEnabled": true,
                        "noticeThreshold": 90.0,
                        "transactionsLimit": 120000.0,
                        "transactionsNoticeEnabled": true,
                        "transactionsNoticeThreshold": 80.0
                      },
                      "secureOnly": false,
                      "showReferralLinks": true,
                      "status": 1.0,
                      "userCount": 4.0,
                      "welcomeEmailContent": "\"Great news, your new account is ready!\\n\\nFor your records, we\u0027ve listed information you\u0027ll use to log in below:\\n\\nFTP Server: [[ftpserver]]\\n\\nUsername (Web and FTP access): [[username]]\\n\\n[[setpassword]]\"\n",
                      "welcomeEmailSubject": "ExaVault File Sharing Account"
                    },
                    "id": 6.0,
                    "relationships": {
                      "masterUser": {
                        "data": {
                          "id": 1.0,
                          "type": "user"
                        }
                      }
                    },
                    "type": "account"
                  },
                  "included": [],
                  "responseStatus": 200.0
                },
                "schema": {
                  "properties": {
                    "data": {
                      "description": "Object contains all account properties.",
                      "properties": {
                        "attributes": {
                          "description": "",
                          "properties": {
                            "accountName": {
                              "description": "Name of the account",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "accountOnboarding": {
                              "description": "Whether the web application onboarding help is enabled for new users in the account.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "allowedIp": {
                              "description": "Range of IP addresses allowed to access this account.",
                              "example": [
                                {
                                  "ipEnd": "192.30.24.5",
                                  "ipStart": "192.30.23.2"
                                }
                              ],
                              "items": {
                                "properties": {
                                  "ipEnd": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "ipStart": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "type": "array",
                              "in": "RESPONSE_BODY"
                            },
                            "branding": {
                              "description": "Branding flag. Set to `true` if the account has branding functionality enabled.",
                              "enum": [
                                true,
                                false
                              ],
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "brandingSettings": {
                              "properties": {
                                "companyName": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "customEmail": {
                                  "example": "custom@example.com",
                                  "format": "email",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "logo": {
                                  "example": "examplelogo.png",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "logoExt": {
                                  "example": "png",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "theme": {
                                  "example": "default",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomain": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomainId": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "verifiedDomainValid": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "BrandingSettings",
                              "type": "object",
                              "x-schemaName": "BrandingSettings",
                              "in": "RESPONSE_BODY"
                            },
                            "clientId": {
                              "description": "(ExaVault Use Only) Internal ID of the account in CMS.",
                              "example": 1.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "complexPasswords": {
                              "description": "Flag to indicate whether the account requires complex passwords. Set to `true` to require complex passwords on all users and shares.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "created": {
                              "description": "Timestamp of account creation.",
                              "example": "2017-01-12T09:06:21Z",
                              "format": "date-time",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "customDomain": {
                              "description": "Custom domain flag. Set to `true` if account type allows custom domain functionality.",
                              "enum": [
                                true,
                                false
                              ],
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "customSignature": {
                              "description": "Custom signature for all account emails users or recipients will receive.",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "externalDomains": {
                              "description": "Custom domain used to brand this account.",
                              "example": [],
                              "items": {
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "type": "array",
                              "in": "RESPONSE_BODY"
                            },
                            "maxUsers": {
                              "description": "Maximum number of users the account can have. This can be increased by contacting ExaVault Support.",
                              "example": 1000.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "modified": {
                              "description": "Timestamp of account modification.",
                              "example": "2017-06-03T20:42:05Z",
                              "format": "date-time",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "planDetails": {
                              "properties": {
                                "apiKeys": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "apiTokens": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "colorSchema": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "customDomain": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "customName": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "directLinks": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "ipWhitelist": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "sharingOptions": {
                                  "items": {
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "type": "array",
                                  "in": "RESPONSE_BODY"
                                },
                                "sshKeys": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "storageAddOn": {
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "unlimitedUsers": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "userExpiration": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "userImport": {
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "webhookOptions": {
                                  "properties": {
                                    "amount": {
                                      "type": "integer",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "includeTriggers": {
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "restrictionTypes": {
                                      "items": {
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": "array",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "PlanDetails",
                              "type": "object",
                              "x-schemaName": "PlanDetails",
                              "in": "RESPONSE_BODY"
                            },
                            "quota": {
                              "properties": {
                                "bandwidthLimit": {
                                  "description": "Total number of bytes that can be transferred per month.",
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "bandwidthUsed": {
                                  "description": "Number of bytes transferred this month.",
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "diskLimit": {
                                  "description": "Amount of disk space that the account has available to it. This may be increased by upgrading to a larger plan.",
                                  "example": 3.758096384E11,
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "diskUsed": {
                                  "description": "Amount of disk space currently in use.",
                                  "example": 1.225352192E9,
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "noticeEnabled": {
                                  "description": "Should a quota warning be sent to the account owner when a threshold level of space utilization is reached?",
                                  "example": true,
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "noticeThreshold": {
                                  "description": "Treshold that triggers a quota notification. This represents the \"percent full\" your account must be before the quota notification is generated.",
                                  "example": 80.0,
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsLimit": {
                                  "description": "Total number of transactions allowed in a 24-hour period.",
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsNoticeEnabled": {
                                  "description": "Whether an email should be sent to the account owner up to once per day if transaction usage exceeds `transactionsNoticeThreshold` value.",
                                  "type": "boolean",
                                  "in": "RESPONSE_BODY"
                                },
                                "transactionsNoticeThreshold": {
                                  "description": "Percent of daily transactions limit that will trigger an email if activity exceeds it.",
                                  "format": "int32",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "title": "Quota",
                              "type": "object",
                              "x-schemaName": "Quota",
                              "in": "RESPONSE_BODY"
                            },
                            "secureOnly": {
                              "description": "Flag to indicate whether the account disables connections via insecure protocols (e.g. FTP). Set to `true` to disable all traffic over port 21.",
                              "example": false,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "showReferralLinks": {
                              "description": "Flag to indicate showing of referrals links in the account. Set to `true` to include marketing messages in share invitations.",
                              "example": true,
                              "type": "boolean",
                              "in": "RESPONSE_BODY"
                            },
                            "status": {
                              "description": "Account status flag. A one (1) means the account is active; zero (0) means it is suspended.",
                              "enum": [
                                1.0,
                                0.0
                              ],
                              "example": 1.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "userCount": {
                              "description": "Current number of users on the account.",
                              "example": 3.0,
                              "format": "int32",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            },
                            "welcomeEmailContent": {
                              "description": "Content of welcome email each new user will receive.",
                              "example": "Welcome to your new account!",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "welcomeEmailSubject": {
                              "description": "Subject of welcome email each new user will receive.",
                              "example": "ExaVault File Sharing Account",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "title": "",
                          "type": "object",
                          "x-schemaName": "AccountAttributes",
                          "in": "RESPONSE_BODY"
                        },
                        "id": {
                          "description": "Account ID",
                          "example": 13758.0,
                          "format": "int32",
                          "type": "integer",
                          "in": "RESPONSE_BODY"
                        },
                        "relationships": {
                          "properties": {
                            "masterUser": {
                              "properties": {
                                "data": {
                                  "properties": {
                                    "id": {
                                      "description": "ID of master user for account",
                                      "type": "integer",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "type": {
                                      "enum": [
                                        "user"
                                      ],
                                      "example": "user",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "title": "MasterUser",
                          "type": "object",
                          "in": "RESPONSE_BODY"
                        },
                        "type": {
                          "description": "Type of item. \"account\"",
                          "enum": [
                            "account"
                          ],
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "title": "Account",
                      "type": "object",
                      "x-schemaName": "Account",
                      "in": "RESPONSE_BODY"
                    },
                    "included": {
                      "description": "Array can contain objects specified in include param of the get call e.g User object",
                      "items": {
                        "description": "Object contains user properties.",
                        "properties": {
                          "attributes": {
                            "description": "Attributes of the user including expiration, home directory, and permissions. ",
                            "properties": {
                              "accessTimestamp": {
                                "description": "Timestamp of most recent successful user login.",
                                "example": "2011-03-21T00:18:56-07:00",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "accountName": {
                                "description": "Name of the account this user belongs to.",
                                "example": "exampleaccount",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "created": {
                                "description": "Timestamp of user creation.",
                                "example": "2018-07-27T15:43:55-07:00",
                                "format": "date-time",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "email": {
                                "description": "Email address of the user.",
                                "example": "example@exavault.mail",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "expiration": {
                                "description": "Timestamp of user expiration.",
                                "example": "2020-06-30T13:33:30-07:00",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "firstLogin": {
                                "description": "`true` if the user has logged into the system.",
                                "example": false,
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "homePath": {
                                "description": "Path to the user\u0027s home folder.",
                                "example": "/",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "locked": {
                                "description": "`true` if the user is locked and cannot log in.",
                                "example": false,
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "modified": {
                                "description": "Timestamp of user modification.",
                                "example": "2018-07-29T15:43:55-07:00",
                                "format": "date-time",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "nickname": {
                                "description": "Nickname of the user.",
                                "example": "exampleuser",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "onboarding": {
                                "description": "Whether the onboarding help system is enabled for this user. `true` means that additional help popups are displayed in the web application for this user.",
                                "example": false,
                                "type": "boolean",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "permissions": {
                                "properties": {
                                  "changePassword": {
                                    "description": "Change (own) password permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "delete": {
                                    "description": "Delete permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "deleteFormData": {
                                    "description": "Delete form data permission flag. If true, user can remove data that was submitted for a receive folder. This applies only to data submitted in the receive folder form, not the actual files uploaded.",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "download": {
                                    "description": "Download permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "list": {
                                    "description": "View folder contents permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "modify": {
                                    "description": "Modify permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "notification": {
                                    "description": "Notifications permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "share": {
                                    "description": "Sharing permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "upload": {
                                    "description": "Upload permission flag",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  },
                                  "viewFormData": {
                                    "description": "Access Form Data permission flag. If true, user can view submissions that have been stored for a receive folder. This includes any data submitted in the receive folder form.",
                                    "type": "boolean",
                                    "required": true,
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "title": "UserPermissions",
                                "type": "object",
                                "x-schemaName": "UserPermissions",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "role": {
                                "description": "User\u0027s access level",
                                "enum": [
                                  "user",
                                  "admin",
                                  "master"
                                ],
                                "example": "user",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "status": {
                                "description": "Indicates user activity status. `0` means the user is locked and cannot log in. `1` means the user is active and can log in.",
                                "enum": [
                                  0.0,
                                  1.0
                                ],
                                "example": 1.0,
                                "format": "int32",
                                "type": "integer",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "timeZone": {
                                "description": "User\u0027s timezone. See \u003ca href\u003d\u0027https://php.net/manual/en/timezones.php\u0027 target\u003d\u0027blank\u0027\u003ethis page\u003c/a\u003e for allowed values.",
                                "example": "America/Chicago",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              },
                              "username": {
                                "description": "Username of the user.",
                                "example": "exampleuser",
                                "type": "string",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "title": "UserAttributes",
                            "type": "object",
                            "x-schemaName": "UserAttributes",
                            "in": "RESPONSE_BODY"
                          },
                          "id": {
                            "description": "ID of the user.",
                            "example": 655621.0,
                            "format": "int32",
                            "type": "integer",
                            "in": "RESPONSE_BODY"
                          },
                          "relationships": {
                            "description": "Home resource and owner account relationship data for the user. ",
                            "properties": {
                              "homeResource": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "ID of home directory resource.",
                                        "format": "int64",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": {
                                        "description": "Type is resource.",
                                        "enum": [
                                          "resource"
                                        ],
                                        "example": "resource",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "ownerAccount": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "ID of the account.",
                                        "format": "int32",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "type": {
                                        "description": "Type is account.",
                                        "enum": [
                                          "account"
                                        ],
                                        "example": "account",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "required": true,
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "in": "RESPONSE_BODY"
                          },
                          "type": {
                            "description": "Type of object being returned. Always \"user\"",
                            "example": "user",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "title": "User",
                        "type": "object",
                        "x-schemaName": "User",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "responseStatus": {
                      "example": 200.0,
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "title": "AccountResponse",
                  "type": "object",
                  "x-schemaName": "AccountResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Update account settings",
        "tags": [
          "Account"
        ]
      }
    },
    "/activity/session": {
      "get": {
        "description": "Returns the detailed activity logs for your account. Optional query paramaters will filter the returned results based on a number of options including usernames, activity types, or date ranges. \n\n**NOTE:** Total Results will always return as 0 to avoid quering data you\u0027re not using and stay as performant as possible. \n  \n**Operation Types**\nSession activity is logged with an operation type that is different from what is visible through the [activity log interface in the web file manager](/docs/account/10-activity-logs/00-activity-logs). Consult the table below to compare the two:\n\n| File Manager Value | API Value | Notes |\n|-----|----|---|\n| Connect | PASS | |\n| Disconnect | EXIT | |\n| Upload | STOR | |\n| Download | RETR | |\n| Delete | DELE | |\n| Create Folder | MKD | |\n| Rename | RNTO | |\n| Move | MOVE | |\n| Copy | COPY | |\n| Compress | COMPR | |\n| Extract | EXTRACT | |\n| Shared Folders | SHARE | |\n| Send Files | SEND | |\n| Receive Files | RECV | |\n| _N/A_ | EDIT\\_SEND | Update send. Not shown in file manager |\n| Update Share | EDIT\\_SHARE| | \n| Update Receive | EDIT\\_RECV | |\n| Delete Send | DELE\\_SEND | |\n| Delete Receive | DELE\\_RECV | |\n| Delete Share | DELE\\_SHARE | |\n| Create Notification | NOTIFY | |\n| Update Notification | EDIT\\_NTFY| |\n| Delete Notification | DELE\\_NTFY | |\n| Create User | USER | |\n| Update User | EDIT\\_USER | |\n| Delete User | DELE\\_USER | |\n| _N/A_ | DFA | Create direct link. Not shown in file manager |\n| _N/A_ | EDIT\\_DFA | Update direct link options. Not shown in file manager |\n| _N/A_ | DELE\\_DFA | Deactivate direct link. Not shown in file manager|\n",
        "operationId": "getSessionLogs",
        "parameters": [
          {
            "description": "API Key",
            "in": "header",
            "name": "ev-api-key",
            "required": true,
            "schema": {
              "example": "exampleaccount-zwSuWUZ8S38h33qPS8v0s",
              "type": "string"
            }
          },
          {
            "description": "Access Token",
            "in": "header",
            "name": "ev-access-token",
            "required": true,
            "schema": {
              "example": "19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1",
              "type": "string"
            }
          },
          {
            "description": "Start date of the filter data range",
            "example": "2019-10-18T06:48:40Z",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "End date of the filter data range",
            "example": "2019-10-18T06:48:40Z",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Used to filter session logs by ip address.",
            "example": "127.0.0.1",
            "in": "query",
            "name": "ipAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Username used for filtering a list",
            "example": "jdoe",
            "in": "query",
            "name": "username",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Path used to filter records",
            "example": "/folder*",
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter session logs for operation type (see table above for acceptable values)",
            "example": "EDIT_SHARE",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset of the records list",
            "example": 100.0,
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Limit of the records list",
[...]
