{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Billingo API",
      "url": "https://api.billingo.hu/v3"
    }
  ],
  "info": {
    "contact": {
      "email": "hello@billingo.hu",
      "name": "Billingo Support",
      "url": "https://www.billingo.hu/kapcsolat"
    },
    "description": "This is a Billingo API v3 documentation. Our API based on REST software architectural style. API has resource-oriented URLs, accepts JSON-encoded request bodies and returns JSON-encoded responses. To use this API you have to generate a new API key on our [site](https://app.billingo.hu/api-key). After that, you can test your API key on this page.",
    "termsOfService": "https://www.billingo.hu/felhasznalasi-feltetelek",
    "title": "Billingo API v3",
    "version": "3.0.7",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.billingo.hu_images_billingo_logo.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/Billingo/Billingo/3.0.7",
        "version": "3.0"
      }
    ],
    "x-providerName": "billingo.hu"
  },
  "externalDocs": {
    "description": "Find out more information about Billingo API v3 usage.",
    "url": "https://support.billingo.hu/content/446136358"
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "description": "Document object represents your invoice.",
      "name": "Document"
    },
    {
      "description": "DocumentBlock object represents your invoice pad.",
      "name": "DocumentBlock"
    },
    {
      "description": "Partner object represents your client.",
      "name": "Partner"
    },
    {
      "description": "Product object represents your document\u0027s product.",
      "name": "Product"
    },
    {
      "description": "BankAccount object represents your bank account information.",
      "name": "BankAccount"
    }
  ],
  "paths": {
    "/bank-accounts": {
      "get": {
        "description": "Returns a list of your bank accounts. The bank accounts are returned sorted by creation date, with the most recent bank account appearing first.",
        "operationId": "ListBankAccount",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "1",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "default": 25.0,
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "A object with a data property that contains an array of up to limit bank accounts. Each entry in the array is a separate bank account object. If no more bank accounts are available, the resulting array will be empty.",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "data": {
                      "items": {
                        "properties": {
                          "account_number": {
                            "type": "string",
                            "required": true,
                            "in": "RESPONSE_BODY"
                          },
                          "account_number_iban": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "currency": {
                            "enum": [
                              "AUD",
                              "BGN",
                              "BRL",
                              "CAD",
                              "CHF",
                              "CNY",
                              "CZK",
                              "DKK",
                              "EUR",
                              "GBP",
                              "HKD",
                              "HRK",
                              "HUF",
                              "IDR",
                              "ILS",
                              "INR",
                              "ISK",
                              "JPY",
                              "KRW",
                              "LTL",
                              "LVL",
                              "MXN",
                              "MYR",
                              "NOK",
                              "NZD",
                              "PHP",
                              "PLN",
                              "RON",
                              "RSD",
                              "RUB",
                              "SEK",
                              "SGD",
                              "THB",
                              "TRY",
                              "UAH",
                              "USD",
                              "ZAR"
                            ],
                            "type": "string",
                            "x-schemaName": "Currency",
                            "required": true,
                            "in": "RESPONSE_BODY"
                          },
                          "id": {
                            "readOnly": true,
                            "type": "integer",
                            "in": "RESPONSE_BODY"
                          },
                          "name": {
                            "type": "string",
                            "required": true,
                            "in": "RESPONSE_BODY"
                          },
                          "need_qr": {
                            "default": "false",
                            "type": "boolean",
                            "in": "RESPONSE_BODY"
                          },
                          "swift": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "BankAccount",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "last_page": {
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "next_page_url": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "per_page": {
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "total": {
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "BankAccountList",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Success response",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "message": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ValidationError",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "message": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ValidationErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Validation errors occured.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "List all bank account",
        "tags": [
          "BankAccount"
        ]
      },
      "post": {
        "description": "Create a new bank account. Returns a bank account object if the create is succeded.",
        "operationId": "CreateBankAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account_number": {
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "account_number_iban": {
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "currency": {
                    "enum": [
                      "AUD",
                      "BGN",
                      "BRL",
                      "CAD",
                      "CHF",
                      "CNY",
                      "CZK",
                      "DKK",
                      "EUR",
                      "GBP",
                      "HKD",
                      "HRK",
                      "HUF",
                      "IDR",
                      "ILS",
                      "INR",
                      "ISK",
                      "JPY",
                      "KRW",
                      "LTL",
                      "LVL",
                      "MXN",
                      "MYR",
                      "NOK",
                      "NZD",
                      "PHP",
                      "PLN",
                      "RON",
                      "RSD",
                      "RUB",
                      "SEK",
                      "SGD",
                      "THB",
                      "TRY",
                      "UAH",
                      "USD",
                      "ZAR"
                    ],
                    "type": "string",
                    "x-schemaName": "Currency",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "id": {
                    "readOnly": true,
                    "type": "integer",
                    "in": "REQUEST_BODY"
                  },
                  "name": {
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "need_qr": {
                    "default": "false",
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  },
                  "swift": {
                    "type": "string",
                    "in": "REQUEST_BODY"
                  }
                },
                "type": "object",
                "x-schemaName": "BankAccount",
                "in": "request_body"
              }
            }
          },
          "description": "BankAccount object that you would like to store.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "account_number": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "account_number_iban": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "currency": {
                      "enum": [
                        "AUD",
                        "BGN",
                        "BRL",
                        "CAD",
                        "CHF",
                        "CNY",
                        "CZK",
                        "DKK",
                        "EUR",
                        "GBP",
                        "HKD",
                        "HRK",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "ISK",
                        "JPY",
                        "KRW",
                        "LTL",
                        "LVL",
                        "MXN",
                        "MYR",
                        "NOK",
                        "NZD",
                        "PHP",
                        "PLN",
                        "RON",
                        "RSD",
                        "RUB",
                        "SEK",
                        "SGD",
                        "THB",
                        "TRY",
                        "UAH",
                        "USD",
                        "ZAR"
                      ],
                      "type": "string",
                      "x-schemaName": "Currency",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "id": {
                      "readOnly": true,
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "need_qr": {
                      "default": "false",
                      "type": "boolean",
                      "in": "RESPONSE_BODY"
                    },
                    "swift": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "BankAccount",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "BankAccount created successfully.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authenticated user doesn\u0027t have access to the resource.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "message": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ValidationError",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "message": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ValidationErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Validation errors occured.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Create a bank account",
        "tags": [
          "BankAccount"
        ]
      }
    },
    "/bank-accounts/{id}": {
      "delete": {
        "description": "Delete an existing bank account.",
        "operationId": "DeleteBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Bank account deleted successfully.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authenticated user doesn\u0027t have access to the resource.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Non-existent resource is requested.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Delete a bank account",
        "tags": [
          "BankAccount"
        ]
      },
      "get": {
        "description": "Retrieves the details of an existing bank account.",
        "operationId": "GetBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "account_number": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "account_number_iban": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "currency": {
                      "enum": [
                        "AUD",
                        "BGN",
                        "BRL",
                        "CAD",
                        "CHF",
                        "CNY",
                        "CZK",
                        "DKK",
                        "EUR",
                        "GBP",
                        "HKD",
                        "HRK",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "ISK",
                        "JPY",
                        "KRW",
                        "LTL",
                        "LVL",
                        "MXN",
                        "MYR",
                        "NOK",
                        "NZD",
                        "PHP",
                        "PLN",
                        "RON",
                        "RSD",
                        "RUB",
                        "SEK",
                        "SGD",
                        "THB",
                        "TRY",
                        "UAH",
                        "USD",
                        "ZAR"
                      ],
                      "type": "string",
                      "x-schemaName": "Currency",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "id": {
                      "readOnly": true,
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "need_qr": {
                      "default": "false",
                      "type": "boolean",
                      "in": "RESPONSE_BODY"
                    },
                    "swift": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "BankAccount",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Success response",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Non-existent resource is requested.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "message": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ValidationError",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "message": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ValidationErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Validation errors occured.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Retrieve a bank account",
        "tags": [
          "BankAccount"
        ]
      },
      "put": {
        "description": "Update an existing bank accounts. Returns a bank account object if the update is succeded.",
        "operationId": "UpdateBankAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account_number": {
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "account_number_iban": {
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "currency": {
                    "enum": [
                      "AUD",
                      "BGN",
                      "BRL",
                      "CAD",
                      "CHF",
                      "CNY",
                      "CZK",
                      "DKK",
                      "EUR",
                      "GBP",
                      "HKD",
                      "HRK",
                      "HUF",
                      "IDR",
                      "ILS",
                      "INR",
                      "ISK",
                      "JPY",
                      "KRW",
                      "LTL",
                      "LVL",
                      "MXN",
                      "MYR",
                      "NOK",
                      "NZD",
                      "PHP",
                      "PLN",
                      "RON",
                      "RSD",
                      "RUB",
                      "SEK",
                      "SGD",
                      "THB",
                      "TRY",
                      "UAH",
                      "USD",
                      "ZAR"
                    ],
                    "type": "string",
                    "x-schemaName": "Currency",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "id": {
                    "readOnly": true,
                    "type": "integer",
                    "in": "REQUEST_BODY"
                  },
                  "name": {
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "need_qr": {
                    "default": "false",
                    "type": "boolean",
                    "in": "REQUEST_BODY"
                  },
                  "swift": {
                    "type": "string",
                    "in": "REQUEST_BODY"
                  }
                },
                "type": "object",
                "x-schemaName": "BankAccount",
                "in": "request_body"
              }
            }
          },
          "description": "Bank account object that you would like to update.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "account_number": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "account_number_iban": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "currency": {
                      "enum": [
                        "AUD",
                        "BGN",
                        "BRL",
                        "CAD",
                        "CHF",
                        "CNY",
                        "CZK",
                        "DKK",
                        "EUR",
                        "GBP",
                        "HKD",
                        "HRK",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "ISK",
                        "JPY",
                        "KRW",
                        "LTL",
                        "LVL",
                        "MXN",
                        "MYR",
                        "NOK",
                        "NZD",
                        "PHP",
                        "PLN",
                        "RON",
                        "RSD",
                        "RUB",
                        "SEK",
                        "SGD",
                        "THB",
                        "TRY",
                        "UAH",
                        "USD",
                        "ZAR"
                      ],
                      "type": "string",
                      "x-schemaName": "Currency",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "id": {
                      "readOnly": true,
                      "type": "integer",
                      "in": "RESPONSE_BODY"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "in": "RESPONSE_BODY"
                    },
                    "need_qr": {
                      "default": "false",
                      "type": "boolean",
                      "in": "RESPONSE_BODY"
                    },
                    "swift": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "BankAccount",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Bank account updated successfully.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authenticated user doesn\u0027t have access to the resource.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Non-existent resource is requested.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "message": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ValidationError",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "message": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ValidationErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Validation errors occured.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Update a bank account",
        "tags": [
          "BankAccount"
        ]
      }
    },
    "/currencies": {
      "get": {
        "description": "Return with the exchange value of given currencies.",
        "operationId": "GetConversionRate",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "enum": [
                "AUD",
                "BGN",
                "BRL",
                "CAD",
                "CHF",
                "CNY",
                "CZK",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "HRK",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "ISK",
                "JPY",
                "KRW",
                "LTL",
                "LVL",
                "MXN",
                "MYR",
                "NOK",
                "NZD",
                "PHP",
                "PLN",
                "RON",
                "RSD",
                "RUB",
                "SEK",
                "SGD",
                "THB",
                "TRY",
                "UAH",
                "USD",
                "ZAR"
              ],
              "type": "string",
              "x-schemaName": "Currency"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "enum": [
                "AUD",
                "BGN",
                "BRL",
                "CAD",
                "CHF",
                "CNY",
                "CZK",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "HRK",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "ISK",
                "JPY",
                "KRW",
                "LTL",
                "LVL",
                "MXN",
                "MYR",
                "NOK",
                "NZD",
                "PHP",
                "PLN",
                "RON",
                "RSD",
                "RUB",
                "SEK",
                "SGD",
                "THB",
                "TRY",
                "UAH",
                "USD",
                "ZAR"
              ],
              "type": "string",
              "x-schemaName": "Currency"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "conversation_rate": {
                      "format": "float",
                      "type": "number",
                      "in": "RESPONSE_BODY"
                    },
                    "from_currency": {
                      "enum": [
                        "AUD",
                        "BGN",
                        "BRL",
                        "CAD",
                        "CHF",
                        "CNY",
                        "CZK",
                        "DKK",
                        "EUR",
                        "GBP",
                        "HKD",
                        "HRK",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "ISK",
                        "JPY",
                        "KRW",
                        "LTL",
                        "LVL",
                        "MXN",
                        "MYR",
                        "NOK",
                        "NZD",
                        "PHP",
                        "PLN",
                        "RON",
                        "RSD",
                        "RUB",
                        "SEK",
                        "SGD",
                        "THB",
                        "TRY",
                        "UAH",
                        "USD",
                        "ZAR"
                      ],
                      "type": "string",
                      "x-schemaName": "Currency",
                      "in": "RESPONSE_BODY"
                    },
                    "to_currency": {
                      "enum": [
                        "AUD",
                        "BGN",
                        "BRL",
                        "CAD",
                        "CHF",
                        "CNY",
                        "CZK",
                        "DKK",
                        "EUR",
                        "GBP",
                        "HKD",
                        "HRK",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "ISK",
                        "JPY",
                        "KRW",
                        "LTL",
                        "LVL",
                        "MXN",
                        "MYR",
                        "NOK",
                        "NZD",
                        "PHP",
                        "PLN",
                        "RON",
                        "RSD",
                        "RUB",
                        "SEK",
                        "SGD",
                        "THB",
                        "TRY",
                        "UAH",
                        "USD",
                        "ZAR"
                      ],
                      "type": "string",
                      "x-schemaName": "Currency",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConversationRate",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Currencies exchange rate returned.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "The request is malformed.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Authorization information (Header: %s) is missing or invalid."
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ClientError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ClientErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "field": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "message": {
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ValidationError",
                        "in": "RESPONSE_BODY"
                      },
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    },
                    "message": {
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ValidationErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Validation errors occured.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "The timestamp at which the current rate limit window resets.",
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "message": "Internal Server Error.",
                      "trace_id": "664b218f93954a3480cb0ddb8f919c3f"
                    }
                  },
                  "properties": {
                    "error": {
                      "properties": {
                        "message": {
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "trace_id": {
                          "description": "You should send us this ID to investigate the issue.",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ServerError",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ServerErrorResponse",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "Internal server error.",
            "headers": {
              "Retry-After": {
                "description": "How many seconds you have to wait before making new request.",
                "schema": {
                  "format": "int32",
[...]
