{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.configcat.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@configcat.com",
      "name": "ConfigCat",
      "url": "https://configcat.com",
      "x-twitter": "configcat"
    },
    "description": "**Base API URL**: https://api.configcat.com\n\nIf you prefer the swagger documentation, you can find it here: [Swagger UI](https://api.configcat.com/swagger).\n\nThe purpose of this API is to access the ConfigCat platform programmatically. \nYou can **Create**, **Read**, **Update** and **Delete** any entities like **Feature Flags, Configs, Environments** or **Products** within ConfigCat. \n\nThe API is based on HTTP REST, uses resource-oriented URLs, status codes and supports JSON \nand JSON+HAL format. Do not use this API for accessing and evaluating feature flag values. Use the [SDKs instead](https://configcat.com/docs/sdk-reference/overview).\n\n\n# OpenAPI Specification\n\nThe complete specification is publicly available here: [swagger.json](v1/swagger.json). \nYou can use it to generate client libraries in various languages with [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) or\n[Swagger Codegen](https://swagger.io/tools/swagger-codegen/) to interact with this API.\n\n# Authentication\nThis API uses the [Basic HTTP Authentication Scheme](https://en.wikipedia.org/wiki/Basic_access_authentication). \n\n\u003c!-- ReDoc-Inject: \u003csecurity-definitions\u003e --\u003e\n\n# Throttling and rate limits\nAll the rate limited API calls are returning information about the current rate limit period in the following HTTP headers:\n\n| Header | Description |\n| :- | :- |\n| X-Rate-Limit-Remaining | The maximum number of requests remaining in the current rate limit period. |\n| X-Rate-Limit-Reset     | The time\twhen the current rate limit period resets.\t\t\t\t\t\t  |\n\nWhen the rate limit is exceeded by a request, the API returns with a `HTTP 429 - Too many requests` status along with a `Retry-After` HTTP header.\n",
    "termsOfService": "https://configcat.com/termsofserviceagreement",
    "title": "ConfigCat Public Management API",
    "version": "v1",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_api.configcat.com_resources_configcat-logo-horiz.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.configcat.com/docs/v1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "configcat.com"
  },
  "security": [
    {
      "Basic": []
    }
  ],
  "tags": [
    {
      "description": "With these endpoints you can control how your existing Feature Flags and Settings should serve their values. \nYou can turn Feature Flags on or off, update Setting values and also add, remove or change the order of Percentage and Targeting Rules.\n\nThese endpoints are determining the Environment and Config by the \u003ca target\u003d\"_blank\" rel\u003d\"noopener noreferrer\" href\u003d\"https://app.configcat.com/sdkkey\"\u003eSDK key\u003c/a\u003e passed in\nthe `X-CONFIGCAT-SDKKEY` request header. To identify the desired Feature Flag or Setting to change, \nyou can use either its `settingId` or `key` attribute. You can get those attributes \nfrom the [Feature Flag \u0026 Setting](#tag/Feature-Flags-and-Settings) endpoints.",
      "name": "Feature Flag \u0026 Setting values using SDK Key"
    },
    {
      "description": "With these endpoints you can control how your existing Feature Flags and Settings should serve their values. \nYou can turn Feature Flags on or off, update Setting values and also add, remove or reorder Percentage and Targeting Rules.\n\nTo determine which Feature Flag or Setting you want to work with you have to pass its `settingId`. It can be\nobtained from the [Feature Flag \u0026 Setting](#tag/Feature-Flags-and-Settings) endpoints.\n\nYou also have to specify in which Environment you want to change the served value configuration by its\n`environmentId` which can be obtained from the [List Environments](#operation/get-environments) endpoint.",
      "name": "Feature Flag \u0026 Setting values"
    },
    {
      "description": "With these endpoints you can manage your Feature Flags or Settings within a Config. \nHowever you can\u0027t use them for manipulating the values of your Feature Flags and Settings,\nto do that please visit the [Feature Flag \u0026 Setting values using SDK Key](#tag/Feature-Flag-and-Setting-values-using-SDK-Key)\nand [Feature Flag \u0026 Setting values](#tag/Feature-Flag-and-Setting-values) sections of the API.\n\nFor using these endpoints, first you have to select which Config you want to work with by its `configId` \nwhich can be obtained from the [List Configs](#operation/get-configs) endpoint. \nThen you can use it to create new Feature Flags or to get information about existing ones.\n\nThen you can obtain the `settingId` or `key` of your desired Feature Flag or Setting \nto use them for further operations in this API. \n\n\u003ca href\u003d\"https://configcat.com/docs/main-concepts/#setting\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about the concept of Settings.",
      "name": "Feature Flags \u0026 Settings"
    },
    {
      "description": "With these endpoints you can get useful information about your Organizations.\nThis also can be used to manage your [Products](#tag/Products).\n\n\u003ca href\u003d\"https://configcat.com/docs/organization/\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about the Organizations.",
      "name": "Organizations"
    },
    {
      "description": "With these endpoints you can manage your Members.\n\n\u003ca href\u003d\"https://configcat.com/docs/advanced/team-collaboration\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about Team Collaboration.",
      "name": "Members"
    },
    {
      "description": "With these endpoints you can manage your Permission Groups.\n\n\u003ca href\u003d\"https://configcat.com/docs/advanced/team-collaboration#permissions--groups\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about Permissions.",
      "name": "Permission Groups"
    },
    {
      "description": "With these endpoints you can manage your Products.\nThis also can be used to manage [Environments](#tag/Environments), [Configs](#tag/Configs), [Tags](#tag/Tags) and [Permission Groups](#tag/Permission-Groups) through this API.\n\n\u003ca href\u003d\"https://configcat.com/docs/main-concepts/#product\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about the concept of Products.",
      "name": "Products"
    },
    {
      "description": "With these endpoints you can manage your Configs.\nThis also can be used to manage [Feature Flags and Settings](#tag/Feature-Flags-and-Settings) and their \n[served values](#tag/Feature-Flag-and-Setting-values) through this API.\n\n\u003ca href\u003d\"https://configcat.com/docs/main-concepts/#config\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about the concept of Configs.",
      "name": "Configs"
    },
    {
      "description": "With these endpoints you can update existing Environments or add new ones into your selected [Product](#tag/Products). \n\n\u003ca href\u003d\"https://configcat.com/docs/main-concepts/#environment\" target\u003d\"_blank\" rel\u003d\"noopener noreferrer\"\u003eHere\u003c/a\u003e you can read more about the concept of Environments.",
      "name": "Environments"
    },
    {
      "description": "With these endpoints you can manage your SDK Keys.",
      "name": "SDK Keys"
    },
    {
      "description": "With these endpoints you can manage Tags. Tags are stored under a Product. You can  and add a Tag to a Feature Flag or Setting using the [Update Flag](#operation/update-setting) endpoint.",
      "name": "Tags"
    },
    {
      "description": "Access audit log entries.",
      "name": "Audit logs"
    },
    {
      "description": "Information about the current user.",
      "name": "Me"
    }
  ],
  "paths": {
    "/v1/configs/{configId}": {
      "delete": {
        "description": "This endpoint removes a Config identified by the `configId` parameter.",
        "operationId": "delete-config",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "When the delete was successful."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "Delete Config",
        "tags": [
          "Configs"
        ]
      },
      "get": {
        "description": "This endpoint returns the metadata of a Config\nidentified by the `configId`.",
        "operationId": "get-config",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "properties": {
                        "product": {
                          "properties": {
                            "_embedded": {
                              "properties": {
                                "organization": {
                                  "properties": {
                                    "_links": {
                                      "properties": {
                                        "members": {
                                          "type": "string"
                                        },
                                        "products": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "name": {
                                      "nullable": true,
                                      "type": "string"
                                    },
                                    "organizationId": {
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "_links": {
                              "properties": {
                                "configs": {
                                  "type": "string"
                                },
                                "environments": {
                                  "type": "string"
                                },
                                "members": {
                                  "type": "string"
                                },
                                "permission-groups": {
                                  "type": "string"
                                },
                                "self": {
                                  "type": "string"
                                },
                                "tags": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "_links": {
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "settings": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "configId": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigModel-haljson"
                }
              },
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "configId": {
                      "format": "uuid",
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "product": {
                      "additionalProperties": false,
                      "properties": {
                        "name": {
                          "nullable": true,
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "organization": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "organizationId": {
                              "format": "uuid",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "OrganizationModel",
                          "in": "RESPONSE_BODY"
                        },
                        "productId": {
                          "format": "uuid",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ProductModel",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigModel",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "When everything is ok, the config data returned."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "Get Config",
        "tags": [
          "Configs"
        ]
      },
      "put": {
        "description": "This endpoint updates a Config identified by the `configId` parameter.",
        "operationId": "update-config",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "nullable": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-schemaName": "UpdateConfigRequest"
              }
            },
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "nullable": true,
                    "type": "string",
                    "in": "REQUEST_BODY"
                  }
                },
                "type": "object",
                "x-schemaName": "UpdateConfigRequest",
                "in": "request_body"
              }
            },
            "text/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "nullable": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-schemaName": "UpdateConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "properties": {
                        "product": {
                          "properties": {
                            "_embedded": {
                              "properties": {
                                "organization": {
                                  "properties": {
                                    "_links": {
                                      "properties": {
                                        "members": {
                                          "type": "string"
                                        },
                                        "products": {
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "name": {
                                      "nullable": true,
                                      "type": "string"
                                    },
                                    "organizationId": {
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "_links": {
                              "properties": {
                                "configs": {
                                  "type": "string"
                                },
                                "environments": {
                                  "type": "string"
                                },
                                "members": {
                                  "type": "string"
                                },
                                "permission-groups": {
                                  "type": "string"
                                },
                                "self": {
                                  "type": "string"
                                },
                                "tags": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "_links": {
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "settings": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "configId": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigModel-haljson"
                }
              },
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "configId": {
                      "format": "uuid",
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "product": {
                      "additionalProperties": false,
                      "properties": {
                        "name": {
                          "nullable": true,
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "organization": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "organizationId": {
                              "format": "uuid",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "OrganizationModel",
                          "in": "RESPONSE_BODY"
                        },
                        "productId": {
                          "format": "uuid",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ProductModel",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigModel",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "Update Config",
        "tags": [
          "Configs"
        ]
      }
    },
    "/v1/configs/{configId}/deleted-settings": {
      "get": {
        "description": "This endpoint returns the list of Feature Flags and Settings that were deleted from the given Config.",
        "operationId": "get-deleted-settings",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "items": {
                    "properties": {
                      "_embedded": {
                        "properties": {
                          "tags": {
                            "items": {
                              "properties": {
                                "_embedded": {
                                  "properties": {
                                    "product": {
                                      "properties": {
                                        "_embedded": {
                                          "properties": {
                                            "organization": {
                                              "properties": {
                                                "_links": {
                                                  "properties": {
                                                    "members": {
                                                      "type": "string"
                                                    },
                                                    "products": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "name": {
                                                  "nullable": true,
                                                  "type": "string"
                                                },
                                                "organizationId": {
                                                  "format": "uuid",
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "_links": {
                                          "properties": {
                                            "configs": {
                                              "type": "string"
                                            },
                                            "environments": {
                                              "type": "string"
                                            },
                                            "members": {
                                              "type": "string"
                                            },
                                            "permission-groups": {
                                              "type": "string"
                                            },
                                            "self": {
                                              "type": "string"
                                            },
                                            "tags": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "name": {
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "productId": {
                                          "format": "uuid",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "type": "object"
                                },
                                "_links": {
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "color": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "tagId": {
                                  "format": "int64",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "_links": {
                        "properties": {
                          "self": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "configId": {
                        "format": "uuid",
                        "readOnly": true,
                        "type": "string"
                      },
                      "configName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "expirationWarningAt": {
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "hint": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "key": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "ownerUserEmail": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "ownerUserFullName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "settingId": {
                        "format": "int32",
                        "readOnly": true,
                        "type": "integer"
                      },
                      "settingType": {
                        "enum": [
                          "boolean",
                          "string",
                          "int",
                          "double"
                        ],
                        "type": "string",
                        "x-schemaName": "SettingType"
                      }
                    },
                    "type": "object",
                    "x-schemaName": "SettingModel-haljson"
                  },
                  "type": "array"
                }
              },
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "configId": {
                        "format": "uuid",
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "configName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "expirationWarningAt": {
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "hint": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "key": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "ownerUserEmail": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "ownerUserFullName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "settingId": {
                        "format": "int32",
                        "readOnly": true,
                        "type": "integer",
                        "in": "RESPONSE_BODY"
                      },
                      "settingType": {
                        "enum": [
                          "boolean",
                          "string",
                          "int",
                          "double"
                        ],
                        "type": "string",
                        "x-schemaName": "SettingType",
                        "in": "RESPONSE_BODY"
                      },
                      "tags": {
                        "items": {
                          "additionalProperties": false,
                          "properties": {
                            "color": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "product": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "organization": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "name": {
                                      "nullable": true,
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "organizationId": {
                                      "format": "uuid",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "x-schemaName": "OrganizationModel",
                                  "in": "RESPONSE_BODY"
                                },
                                "productId": {
                                  "format": "uuid",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "ProductModel",
                              "in": "RESPONSE_BODY"
                            },
                            "tagId": {
                              "format": "int64",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "TagModel",
                          "in": "RESPONSE_BODY"
                        },
                        "nullable": true,
                        "type": "array",
                        "in": "RESPONSE_BODY"
                      }
                    },
                    "type": "object",
                    "x-schemaName": "SettingModel",
                    "in": "RESPONSE_BODY"
                  },
                  "type": "array",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "List Deleted Settings",
        "tags": [
          "Audit logs"
        ]
      }
    },
    "/v1/configs/{configId}/environments/{environmentId}": {
      "get": {
        "description": "This endpoint returns the SDK Key for your Config in a specified Environment.",
        "operationId": "get-sdk-keys",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The identifier of the Environment.",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "primary": {
                      "nullable": true,
                      "type": "string"
                    },
                    "secondary": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "SdkKeysModel"
                }
              },
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "primary": {
                      "nullable": true,
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    },
                    "secondary": {
                      "nullable": true,
                      "type": "string",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "SdkKeysModel",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "Get SDK Key",
        "tags": [
          "SDK Keys"
        ]
      }
    },
    "/v1/configs/{configId}/environments/{environmentId}/values": {
      "get": {
        "description": "This endpoint returns the value of a specified Config\u0027s Feature Flags or Settings identified by the `configId` parameter\nin a specified Environment identified by the `environmentId` parameter.\n\nThe most important attributes in the response are the `value`, `rolloutRules` and `percentageRules`.\nThe `value` represents what the clients will get when the evaluation requests of our SDKs \nare not matching to any of the defined Targeting or Percentage Rules, or when there are no additional rules to evaluate.\n\nThe `rolloutRules` and `percentageRules` attributes are representing the current \nTargeting and Percentage Rules configuration of the actual Feature Flag or Setting \nin an **ordered** collection, which means the order of the returned rules is matching to the\nevaluation order. You can read more about these rules [here](https://configcat.com/docs/advanced/targeting/).",
        "operationId": "get-setting-values",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The identifier of the Environment.",
            "in": "path",
            "name": "environmentId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "config": {
                      "additionalProperties": false,
                      "properties": {
                        "configId": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "product": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "organization": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "organizationId": {
                                  "format": "uuid",
                                  "type": "string"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "OrganizationModel"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "ProductModel"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ConfigModel"
                    },
                    "environment": {
                      "additionalProperties": false,
                      "properties": {
                        "environmentId": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "product": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "organization": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "organizationId": {
                                  "format": "uuid",
                                  "type": "string"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "OrganizationModel"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "ProductModel"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "EnvironmentModel"
                    },
                    "readOnly": {
                      "type": "boolean"
                    },
                    "settingValues": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "integrationLinks": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "description": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "integrationLinkType": {
                                  "enum": [
                                    "trello",
                                    "jira"
                                  ],
                                  "type": "string",
                                  "x-schemaName": "IntegrationLinkType"
                                },
                                "key": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "url": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "IntegrationLinkModel"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "lastUpdaterUserEmail": {
                            "nullable": true,
                            "type": "string"
                          },
                          "lastUpdaterUserFullName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "rolloutPercentageItems": {
                            "description": "The percentage rule collection.",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "percentage": {
                                  "description": "The percentage value for the rule.",
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "value": {
                                  "additionalProperties": false,
                                  "description": "The value to serve when the user falls in the percentage rule. It must respect the setting type.",
                                  "nullable": true,
                                  "type": "object"
                                }
                              },
                              "required": [
                                "percentage"
                              ],
                              "type": "object",
                              "x-schemaName": "RolloutPercentageItemModel"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "rolloutRules": {
                            "description": "The targeting rule collection.",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "comparator": {
                                  "enum": [
                                    "isOneOf",
                                    "isNotOneOf",
                                    "contains",
                                    "doesNotContain",
                                    "semVerIsOneOf",
                                    "semVerIsNotOneOf",
                                    "semVerLess",
                                    "semVerLessOrEquals",
                                    "semVerGreater",
                                    "semVerGreaterOrEquals",
                                    "numberEquals",
                                    "numberDoesNotEqual",
                                    "numberLess",
                                    "numberLessOrEquals",
                                    "numberGreater",
                                    "numberGreaterOrEquals",
                                    "sensitiveIsOneOf",
                                    "sensitiveIsNotOneOf"
                                  ],
                                  "type": "string",
                                  "x-schemaName": "RolloutRuleComparator"
                                },
                                "comparisonAttribute": {
                                  "description": "The user attribute to compare.",
                                  "maxLength": 1000.0,
                                  "minLength": 0.0,
                                  "type": "string"
                                },
                                "comparisonValue": {
                                  "description": "The value to compare against.",
                                  "maxLength": 65535.0,
                                  "minLength": 0.0,
                                  "type": "string"
                                },
                                "value": {
                                  "additionalProperties": false,
                                  "description": "The value to serve when the comparison matches. It must respect the setting type.",
                                  "nullable": true,
                                  "type": "object"
                                }
                              },
                              "required": [
                                "comparisonAttribute",
                                "comparisonValue"
                              ],
                              "type": "object",
                              "x-schemaName": "RolloutRuleModel"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "setting": {
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "format": "date-time",
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "creatorEmail": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "creatorFullName": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "expirationWarningAt": {
                                "format": "date-time",
                                "nullable": true,
                                "type": "string"
                              },
                              "hint": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "isWatching": {
                                "type": "boolean"
                              },
                              "key": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "name": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string"
                              },
                              "ownerEmail": {
                                "nullable": true,
                                "type": "string"
                              },
                              "ownerFullName": {
                                "nullable": true,
                                "type": "string"
                              },
                              "settingId": {
                                "format": "int32",
                                "readOnly": true,
                                "type": "integer"
                              },
                              "settingType": {
                                "enum": [
                                  "boolean",
                                  "string",
                                  "int",
                                  "double"
                                ],
                                "type": "string",
                                "x-schemaName": "SettingType"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "SettingDataModel"
                          },
                          "settingTags": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "color": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "settingTagId": {
                                  "format": "int64",
                                  "type": "integer"
                                },
                                "tagId": {
                                  "format": "int64",
                                  "type": "integer"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "SettingTagModel"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "updatedAt": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "value": {
                            "additionalProperties": false,
                            "description": "The value to serve. It must respect the setting type.",
                            "nullable": true,
                            "type": "object"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ConfigSettingValueModel"
                      },
                      "nullable": true,
                      "type": "array"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigSettingValuesModel"
                }
              },
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "config": {
                      "additionalProperties": false,
                      "properties": {
                        "configId": {
                          "format": "uuid",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "product": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "organization": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "organizationId": {
                                  "format": "uuid",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "OrganizationModel",
                              "in": "RESPONSE_BODY"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "ProductModel",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "ConfigModel",
                      "in": "RESPONSE_BODY"
                    },
                    "environment": {
                      "additionalProperties": false,
                      "properties": {
                        "environmentId": {
                          "format": "uuid",
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string",
                          "in": "RESPONSE_BODY"
                        },
                        "product": {
                          "additionalProperties": false,
                          "properties": {
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "organization": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "organizationId": {
                                  "format": "uuid",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "OrganizationModel",
                              "in": "RESPONSE_BODY"
                            },
                            "productId": {
                              "format": "uuid",
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "ProductModel",
                          "in": "RESPONSE_BODY"
                        }
                      },
                      "type": "object",
                      "x-schemaName": "EnvironmentModel",
                      "in": "RESPONSE_BODY"
                    },
                    "readOnly": {
                      "type": "boolean",
                      "in": "RESPONSE_BODY"
                    },
                    "settingValues": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "integrationLinks": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "description": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "integrationLinkType": {
                                  "enum": [
                                    "trello",
                                    "jira"
                                  ],
                                  "type": "string",
                                  "x-schemaName": "IntegrationLinkType",
                                  "in": "RESPONSE_BODY"
                                },
                                "key": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "url": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "IntegrationLinkModel",
                              "in": "RESPONSE_BODY"
                            },
                            "nullable": true,
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "lastUpdaterUserEmail": {
                            "nullable": true,
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "lastUpdaterUserFullName": {
                            "nullable": true,
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "rolloutPercentageItems": {
                            "description": "The percentage rule collection.",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "percentage": {
                                  "description": "The percentage value for the rule.",
                                  "format": "int64",
                                  "type": "integer",
                                  "required": true,
                                  "in": "RESPONSE_BODY"
                                },
                                "value": {
                                  "additionalProperties": false,
                                  "description": "The value to serve when the user falls in the percentage rule. It must respect the setting type.",
                                  "nullable": true,
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "RolloutPercentageItemModel",
                              "in": "RESPONSE_BODY"
                            },
                            "nullable": true,
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "rolloutRules": {
                            "description": "The targeting rule collection.",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "comparator": {
                                  "enum": [
                                    "isOneOf",
                                    "isNotOneOf",
                                    "contains",
                                    "doesNotContain",
                                    "semVerIsOneOf",
                                    "semVerIsNotOneOf",
                                    "semVerLess",
                                    "semVerLessOrEquals",
                                    "semVerGreater",
                                    "semVerGreaterOrEquals",
                                    "numberEquals",
                                    "numberDoesNotEqual",
                                    "numberLess",
                                    "numberLessOrEquals",
                                    "numberGreater",
                                    "numberGreaterOrEquals",
                                    "sensitiveIsOneOf",
                                    "sensitiveIsNotOneOf"
                                  ],
                                  "type": "string",
                                  "x-schemaName": "RolloutRuleComparator",
                                  "in": "RESPONSE_BODY"
                                },
                                "comparisonAttribute": {
                                  "description": "The user attribute to compare.",
                                  "maxLength": 1000.0,
                                  "minLength": 0.0,
                                  "type": "string",
                                  "required": true,
                                  "in": "RESPONSE_BODY"
                                },
                                "comparisonValue": {
                                  "description": "The value to compare against.",
                                  "maxLength": 65535.0,
                                  "minLength": 0.0,
                                  "type": "string",
                                  "required": true,
                                  "in": "RESPONSE_BODY"
                                },
                                "value": {
                                  "additionalProperties": false,
                                  "description": "The value to serve when the comparison matches. It must respect the setting type.",
                                  "nullable": true,
                                  "type": "object",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "RolloutRuleModel",
                              "in": "RESPONSE_BODY"
                            },
                            "nullable": true,
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "setting": {
                            "additionalProperties": false,
                            "properties": {
                              "createdAt": {
                                "format": "date-time",
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "creatorEmail": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "creatorFullName": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "expirationWarningAt": {
                                "format": "date-time",
                                "nullable": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "hint": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "isWatching": {
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "key": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "name": {
                                "nullable": true,
                                "readOnly": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "ownerEmail": {
                                "nullable": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "ownerFullName": {
                                "nullable": true,
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "settingId": {
                                "format": "int32",
                                "readOnly": true,
                                "type": "integer",
                                "in": "RESPONSE_BODY"
                              },
                              "settingType": {
                                "enum": [
                                  "boolean",
                                  "string",
                                  "int",
                                  "double"
                                ],
                                "type": "string",
                                "x-schemaName": "SettingType",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "SettingDataModel",
                            "in": "RESPONSE_BODY"
                          },
                          "settingTags": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "color": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "name": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "settingTagId": {
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                },
                                "tagId": {
                                  "format": "int64",
                                  "type": "integer",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "SettingTagModel",
                              "in": "RESPONSE_BODY"
                            },
                            "nullable": true,
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "updatedAt": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "value": {
                            "additionalProperties": false,
                            "description": "The value to serve. It must respect the setting type.",
                            "nullable": true,
                            "type": "object",
                            "in": "RESPONSE_BODY"
                          }
                        },
                        "type": "object",
                        "x-schemaName": "ConfigSettingValueModel",
                        "in": "RESPONSE_BODY"
                      },
                      "nullable": true,
                      "type": "array",
                      "in": "RESPONSE_BODY"
                    }
                  },
                  "type": "object",
                  "x-schemaName": "ConfigSettingValuesModel",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": "When everything is ok, the setting values returned."
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "Get values",
        "tags": [
          "Feature Flag \u0026 Setting values"
        ]
      }
    },
    "/v1/configs/{configId}/settings": {
      "get": {
        "description": "This endpoint returns the list of the Feature Flags and Settings defined in a \nspecified Config, identified by the `configId` parameter.",
        "operationId": "get-settings",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/hal+json": {
                "schema": {
                  "items": {
                    "properties": {
                      "_embedded": {
                        "properties": {
                          "tags": {
                            "items": {
                              "properties": {
                                "_embedded": {
                                  "properties": {
                                    "product": {
                                      "properties": {
                                        "_embedded": {
                                          "properties": {
                                            "organization": {
                                              "properties": {
                                                "_links": {
                                                  "properties": {
                                                    "members": {
                                                      "type": "string"
                                                    },
                                                    "products": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "name": {
                                                  "nullable": true,
                                                  "type": "string"
                                                },
                                                "organizationId": {
                                                  "format": "uuid",
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "_links": {
                                          "properties": {
                                            "configs": {
                                              "type": "string"
                                            },
                                            "environments": {
                                              "type": "string"
                                            },
                                            "members": {
                                              "type": "string"
                                            },
                                            "permission-groups": {
                                              "type": "string"
                                            },
                                            "self": {
                                              "type": "string"
                                            },
                                            "tags": {
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "name": {
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "productId": {
                                          "format": "uuid",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    }
                                  },
                                  "type": "object"
                                },
                                "_links": {
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "color": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "tagId": {
                                  "format": "int64",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "_links": {
                        "properties": {
                          "self": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "configId": {
                        "format": "uuid",
                        "readOnly": true,
                        "type": "string"
                      },
                      "configName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "expirationWarningAt": {
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "hint": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "key": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "ownerUserEmail": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "ownerUserFullName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "settingId": {
                        "format": "int32",
                        "readOnly": true,
                        "type": "integer"
                      },
                      "settingType": {
                        "enum": [
                          "boolean",
                          "string",
                          "int",
                          "double"
                        ],
                        "type": "string",
                        "x-schemaName": "SettingType"
                      }
                    },
                    "type": "object",
                    "x-schemaName": "SettingModel-haljson"
                  },
                  "type": "array"
                }
              },
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "configId": {
                        "format": "uuid",
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "configName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "expirationWarningAt": {
                        "format": "date-time",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "hint": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "key": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "ownerUserEmail": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "ownerUserFullName": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string",
                        "in": "RESPONSE_BODY"
                      },
                      "settingId": {
                        "format": "int32",
                        "readOnly": true,
                        "type": "integer",
                        "in": "RESPONSE_BODY"
                      },
                      "settingType": {
                        "enum": [
                          "boolean",
                          "string",
                          "int",
                          "double"
                        ],
                        "type": "string",
                        "x-schemaName": "SettingType",
                        "in": "RESPONSE_BODY"
                      },
                      "tags": {
                        "items": {
                          "additionalProperties": false,
                          "properties": {
                            "color": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "name": {
                              "nullable": true,
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "product": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "organization": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "name": {
                                      "nullable": true,
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "organizationId": {
                                      "format": "uuid",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "x-schemaName": "OrganizationModel",
                                  "in": "RESPONSE_BODY"
                                },
                                "productId": {
                                  "format": "uuid",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "ProductModel",
                              "in": "RESPONSE_BODY"
                            },
                            "tagId": {
                              "format": "int64",
                              "type": "integer",
                              "in": "RESPONSE_BODY"
                            }
                          },
                          "type": "object",
                          "x-schemaName": "TagModel",
                          "in": "RESPONSE_BODY"
                        },
                        "nullable": true,
                        "type": "array",
                        "in": "RESPONSE_BODY"
                      }
                    },
                    "type": "object",
                    "x-schemaName": "SettingModel",
                    "in": "RESPONSE_BODY"
                  },
                  "type": "array",
                  "required": true,
                  "in": "response_body"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. In case of the Public Management API credentials are invalid."
          },
          "404": {
            "description": "Not found."
          },
          "429": {
            "description": "Too many requests. In case of the request rate exceeds the rate limits."
          }
        },
        "summary": "List Flags",
        "tags": [
          "Feature Flags \u0026 Settings"
        ]
      },
      "post": {
        "description": "This endpoint creates a new Feature Flag or Setting in a specified Config\nidentified by the `configId` parameter.\n\n**Important:** The `key` attribute must be unique within the given Config.",
        "operationId": "create-setting",
        "parameters": [
          {
            "description": "The identifier of the Config.",
            "in": "path",
            "name": "configId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "hint": {
                    "description": "A short description for the setting, shown on the Dashboard UI.",
                    "maxLength": 1000.0,
                    "minLength": 0.0,
                    "nullable": true,
                    "type": "string"
                  },
                  "key": {
                    "description": "The key of the setting.",
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "pattern": "^[a-zA-Z]+[a-zA-Z0-9_]*",
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the setting, shown on the Dashboard UI.",
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "type": "string"
                  },
                  "settingType": {
                    "enum": [
                      "boolean",
                      "string",
                      "int",
                      "double"
                    ],
                    "type": "string",
                    "x-schemaName": "SettingType"
                  },
                  "tags": {
                    "description": "The IDs of the tags which are attached to the setting.",
                    "items": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "nullable": true,
                    "type": "array"
                  }
                },
                "required": [
                  "key",
                  "name",
                  "settingType"
                ],
                "type": "object",
                "x-schemaName": "CreateSettingModel"
              }
            },
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "hint": {
                    "description": "A short description for the setting, shown on the Dashboard UI.",
                    "maxLength": 1000.0,
                    "minLength": 0.0,
                    "nullable": true,
                    "type": "string",
                    "in": "REQUEST_BODY"
                  },
                  "key": {
                    "description": "The key of the setting.",
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "pattern": "^[a-zA-Z]+[a-zA-Z0-9_]*",
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "name": {
                    "description": "The name of the setting, shown on the Dashboard UI.",
                    "maxLength": 255.0,
                    "minLength": 0.0,
                    "type": "string",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "settingType": {
                    "enum": [
                      "boolean",
                      "string",
                      "int",
                      "double"
                    ],
                    "type": "string",
                    "x-schemaName": "SettingType",
                    "required": true,
                    "in": "REQUEST_BODY"
                  },
                  "tags": {
                    "description": "The IDs of the tags which are attached to the setting.",
                    "items": {
[...]
