{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://container.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Kubernetes Engine API",
    "version": "v1beta1",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://container.googleapis.com/$discovery/rest?version\u003dv1beta1",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "container"
  },
  "externalDocs": {
    "url": "https://cloud.google.com/container-engine/"
  },
  "tags": [
    {
      "name": "projects"
    }
  ],
  "paths": {
    "/v1beta1/projects/{projectId}/zones/{zone}/clusters": {
      "get": {
        "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
        "operationId": "container.projects.zones.clusters.list",
        "parameters": [
          {
            "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
            "in": "path",
            "name": "zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
            "in": "query",
            "name": "parent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns response with indentations and line breaks.",
            "in": "query",
            "name": "prettyPrint",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "JSONP",
            "in": "query",
            "name": "callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OAuth 2.0 token for the current user.",
            "in": "query",
            "name": "oauth_token",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "in": "query",
            "name": "upload_protocol",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "V1 error format.",
            "in": "query",
            "name": "$.xgafv",
            "schema": {
              "enum": [
                "1",
                "2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Selector specifying which fields to include in a partial response.",
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "in": "query",
            "name": "quotaUser",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "in": "query",
            "name": "key",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "OAuth access token.",
            "in": "query",
            "name": "access_token",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data format for response.",
            "in": "query",
            "name": "alt",
            "schema": {
              "enum": [
                "json",
                "media",
                "proto"
              ],
              "type": "string"
            }
          },
          {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "in": "query",
            "name": "uploadType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "ListClustersResponse is the result of ListClustersRequest.",
                  "properties": {
                    "clusters": {
                      "description": "A list of clusters in the project in the specified zone, or across all ones.",
                      "items": {
                        "description": "A Google Kubernetes Engine cluster.",
                        "properties": {
                          "addonsConfig": {
                            "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
                            "properties": {
                              "cloudRunConfig": {
                                "description": "Configuration options for the Cloud Run feature.",
                                "properties": {
                                  "disabled": {
                                    "description": "Whether Cloud Run addon is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "loadBalancerType": {
                                    "description": "Which load balancer type is installed for Cloud Run.",
                                    "enum": [
                                      "LOAD_BALANCER_TYPE_UNSPECIFIED",
                                      "LOAD_BALANCER_TYPE_EXTERNAL",
                                      "LOAD_BALANCER_TYPE_INTERNAL"
                                    ],
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "CloudRunConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "configConnectorConfig": {
                                "description": "Configuration options for the Config Connector add-on.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether Cloud Connector is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "ConfigConnectorConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "dnsCacheConfig": {
                                "description": "Configuration for NodeLocal DNSCache",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether NodeLocal DNSCache is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "DnsCacheConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "gcePersistentDiskCsiDriverConfig": {
                                "description": "Configuration for the Compute Engine PD CSI driver.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "GcePersistentDiskCsiDriverConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "gcpFilestoreCsiDriverConfig": {
                                "description": "Configuration for the GCP Filestore CSI driver.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether the GCP Filestore CSI driver is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "GcpFilestoreCsiDriverConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "horizontalPodAutoscaling": {
                                "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
                                "properties": {
                                  "disabled": {
                                    "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "HorizontalPodAutoscaling",
                                "in": "RESPONSE_BODY"
                              },
                              "httpLoadBalancing": {
                                "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
                                "properties": {
                                  "disabled": {
                                    "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "HttpLoadBalancing",
                                "in": "RESPONSE_BODY"
                              },
                              "istioConfig": {
                                "description": "Configuration options for Istio addon.",
                                "properties": {
                                  "auth": {
                                    "description": "The specified Istio auth mode, either none, or mutual TLS.",
                                    "enum": [
                                      "AUTH_NONE",
                                      "AUTH_MUTUAL_TLS"
                                    ],
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "disabled": {
                                    "description": "Whether Istio is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "IstioConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "kalmConfig": {
                                "description": "Configuration options for the KALM addon.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether KALM is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "KalmConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "kubernetesDashboard": {
                                "description": "Configuration for the Kubernetes Dashboard.",
                                "properties": {
                                  "disabled": {
                                    "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "KubernetesDashboard",
                                "in": "RESPONSE_BODY"
                              },
                              "networkPolicyConfig": {
                                "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
                                "properties": {
                                  "disabled": {
                                    "description": "Whether NetworkPolicy is enabled for this cluster.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "NetworkPolicyConfig",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "AddonsConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "authenticatorGroupsConfig": {
                            "description": "Configuration for returning group information from authenticators.",
                            "properties": {
                              "enabled": {
                                "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "securityGroup": {
                                "description": "The name of the security group-of-groups to be used. Only relevant if enabled \u003d true.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "AuthenticatorGroupsConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "autopilot": {
                            "description": "Autopilot is the configuration for Autopilot settings on the cluster.",
                            "properties": {
                              "enabled": {
                                "description": "Enable Autopilot",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "Autopilot",
                            "in": "RESPONSE_BODY"
                          },
                          "autoscaling": {
                            "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
                            "properties": {
                              "autoprovisioningLocations": {
                                "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool\u0027s nodes can be created by NAP.",
                                "items": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "type": "array",
                                "in": "RESPONSE_BODY"
                              },
                              "autoprovisioningNodePoolDefaults": {
                                "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
                                "properties": {
                                  "bootDiskKmsKey": {
                                    "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "diskSizeGb": {
                                    "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
                                    "format": "int32",
                                    "type": "integer",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "diskType": {
                                    "description": "Type of the disk attached to each node (e.g. \u0027pd-standard\u0027, \u0027pd-ssd\u0027 or \u0027pd-balanced\u0027) If unspecified, the default disk type is \u0027pd-standard\u0027",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "imageType": {
                                    "description": "The image type to use for NAP created node.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "management": {
                                    "description": "NodeManagement defines the set of node management services turned on for the node pool.",
                                    "properties": {
                                      "autoRepair": {
                                        "description": "Whether the nodes will be automatically repaired.",
                                        "type": "boolean",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "autoUpgrade": {
                                        "description": "Whether the nodes will be automatically upgraded.",
                                        "type": "boolean",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "upgradeOptions": {
                                        "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
                                        "properties": {
                                          "autoUpgradeStartTime": {
                                            "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                                            "type": "string",
                                            "in": "RESPONSE_BODY"
                                          },
                                          "description": {
                                            "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
                                            "type": "string",
                                            "in": "RESPONSE_BODY"
                                          }
                                        },
                                        "type": "object",
                                        "x-schemaName": "AutoUpgradeOptions",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "x-schemaName": "NodeManagement",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "minCpuPlatform": {
                                    "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) To unset the min cpu platform field pass \"automatic\" as field value.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "oauthScopes": {
                                    "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
                                    "items": {
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "type": "array",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "serviceAccount": {
                                    "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "shieldedInstanceConfig": {
                                    "description": "A set of Shielded Instance options.",
                                    "properties": {
                                      "enableIntegrityMonitoring": {
                                        "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
                                        "type": "boolean",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "enableSecureBoot": {
                                        "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails.",
                                        "type": "boolean",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "x-schemaName": "ShieldedInstanceConfig",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "upgradeSettings": {
                                    "description": "Upgrade settings control disruption and speed of the upgrade.",
                                    "properties": {
                                      "maxSurge": {
                                        "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
                                        "format": "int32",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "maxUnavailable": {
                                        "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
                                        "format": "int32",
                                        "type": "integer",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "x-schemaName": "UpgradeSettings",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "AutoprovisioningNodePoolDefaults",
                                "in": "RESPONSE_BODY"
                              },
                              "autoscalingProfile": {
                                "description": "Defines autoscaling behaviour.",
                                "enum": [
                                  "PROFILE_UNSPECIFIED",
                                  "OPTIMIZE_UTILIZATION",
                                  "BALANCED"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "enableNodeAutoprovisioning": {
                                "description": "Enables automatic node pool creation and deletion.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "resourceLimits": {
                                "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
                                "items": {
                                  "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
                                  "properties": {
                                    "maximum": {
                                      "description": "Maximum amount of the resource in the cluster.",
                                      "format": "int64",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "minimum": {
                                      "description": "Minimum amount of the resource in the cluster.",
                                      "format": "int64",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "resourceType": {
                                      "description": "Resource name \"cpu\", \"memory\" or gpu-specific string.",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "x-schemaName": "ResourceLimit",
                                  "in": "RESPONSE_BODY"
                                },
                                "type": "array",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "ClusterAutoscaling",
                            "in": "RESPONSE_BODY"
                          },
                          "binaryAuthorization": {
                            "description": "Configuration for Binary Authorization.",
                            "properties": {
                              "enabled": {
                                "description": "Enable Binary Authorization for this cluster. If enabled, all container images will be validated by Google Binauthz.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "BinaryAuthorization",
                            "in": "RESPONSE_BODY"
                          },
                          "clusterIpv4Cidr": {
                            "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "clusterTelemetry": {
                            "description": "Telemetry integration for the cluster.",
                            "properties": {
                              "type": {
                                "description": "Type of the integration.",
                                "enum": [
                                  "UNSPECIFIED",
                                  "DISABLED",
                                  "ENABLED",
                                  "SYSTEM_ONLY"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "ClusterTelemetry",
                            "in": "RESPONSE_BODY"
                          },
                          "conditions": {
                            "description": "Which conditions caused the current cluster state.",
                            "items": {
                              "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
                              "properties": {
                                "canonicalCode": {
                                  "description": "Canonical code of the condition.",
                                  "enum": [
                                    "OK",
                                    "CANCELLED",
                                    "UNKNOWN",
                                    "INVALID_ARGUMENT",
                                    "DEADLINE_EXCEEDED",
                                    "NOT_FOUND",
                                    "ALREADY_EXISTS",
                                    "PERMISSION_DENIED",
                                    "UNAUTHENTICATED",
                                    "RESOURCE_EXHAUSTED",
                                    "FAILED_PRECONDITION",
                                    "ABORTED",
                                    "OUT_OF_RANGE",
                                    "UNIMPLEMENTED",
                                    "INTERNAL",
                                    "UNAVAILABLE",
                                    "DATA_LOSS"
                                  ],
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "code": {
                                  "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
                                  "enum": [
                                    "UNKNOWN",
                                    "GCE_STOCKOUT",
                                    "GKE_SERVICE_ACCOUNT_DELETED",
                                    "GCE_QUOTA_EXCEEDED",
                                    "SET_BY_OPERATOR",
                                    "CLOUD_KMS_KEY_ERROR",
                                    "CA_EXPIRING"
                                  ],
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "message": {
                                  "description": "Human-friendly representation of the condition",
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                }
                              },
                              "type": "object",
                              "x-schemaName": "StatusCondition",
                              "in": "RESPONSE_BODY"
                            },
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "confidentialNodes": {
                            "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
                            "properties": {
                              "enabled": {
                                "description": "Whether Confidential Nodes feature is enabled for all nodes in this cluster.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "ConfidentialNodes",
                            "in": "RESPONSE_BODY"
                          },
                          "createTime": {
                            "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "currentMasterVersion": {
                            "description": "[Output only] The current software version of the master endpoint.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "currentNodeCount": {
                            "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
                            "format": "int32",
                            "type": "integer",
                            "in": "RESPONSE_BODY"
                          },
                          "currentNodeVersion": {
                            "description": "[Output only] Deprecated, use [NodePool.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they\u0027re in the process of being upgraded, this reflects the minimum version of all nodes.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "databaseEncryption": {
                            "description": "Configuration of etcd encryption.",
                            "properties": {
                              "keyName": {
                                "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "state": {
                                "description": "Denotes the state of etcd encryption.",
                                "enum": [
                                  "UNKNOWN",
                                  "ENCRYPTED",
                                  "DECRYPTED"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "DatabaseEncryption",
                            "in": "RESPONSE_BODY"
                          },
                          "defaultMaxPodsConstraint": {
                            "description": "Constraints applied to pods.",
                            "properties": {
                              "maxPodsPerNode": {
                                "description": "Constraint enforced on the max num of pods per node.",
                                "format": "int64",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "MaxPodsConstraint",
                            "in": "RESPONSE_BODY"
                          },
                          "description": {
                            "description": "An optional description of this cluster.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "enableKubernetesAlpha": {
                            "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1beta1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
                            "type": "boolean",
                            "in": "RESPONSE_BODY"
                          },
                          "enableTpu": {
                            "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated, use tpu_config.enabled instead.",
                            "type": "boolean",
                            "in": "RESPONSE_BODY"
                          },
                          "endpoint": {
                            "description": "[Output only] The IP address of this cluster\u0027s master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "expireTime": {
                            "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "id": {
                            "description": "Output only. Unique id for the cluster.",
                            "readOnly": true,
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "identityServiceConfig": {
                            "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
                            "properties": {
                              "enabled": {
                                "description": "Whether to enable the Identity Service component",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "IdentityServiceConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "initialClusterVersion": {
                            "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "initialNodeCount": {
                            "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
                            "format": "int32",
                            "type": "integer",
                            "in": "RESPONSE_BODY"
                          },
                          "instanceGroupUrls": {
                            "description": "Deprecated. Use node_pools.instance_group_urls.",
                            "items": {
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "ipAllocationPolicy": {
                            "description": "Configuration for controlling how IPs are allocated in the cluster.",
                            "properties": {
                              "allowRouteOverlap": {
                                "description": "If true, allow allocation of cluster CIDR ranges that overlap with certain kinds of network routes. By default we do not allow cluster CIDR ranges to intersect with any user declared routes. With allow_route_overlap \u003d\u003d true, we allow overlapping with CIDR ranges that are larger than the cluster CIDR range. If this field is set to true, then cluster and services CIDRs must be fully-specified (e.g. `10.96.0.0/14`, but not `/14`), which means: 1) When `use_ip_aliases` is true, `cluster_ipv4_cidr_block` and `services_ipv4_cidr_block` must be fully-specified. 2) When `use_ip_aliases` is false, `cluster.cluster_ipv4_cidr` muse be fully-specified.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "clusterIpv4Cidr": {
                                "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "clusterIpv4CidrBlock": {
                                "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "clusterSecondaryRangeName": {
                                "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "createSubnetwork": {
                                "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "nodeIpv4Cidr": {
                                "description": "This field is deprecated, use node_ipv4_cidr_block.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "nodeIpv4CidrBlock": {
                                "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "servicesIpv4Cidr": {
                                "description": "This field is deprecated, use services_ipv4_cidr_block.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "servicesIpv4CidrBlock": {
                                "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "servicesSecondaryRangeName": {
                                "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases and create_subnetwork is false.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "subnetworkName": {
                                "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "tpuIpv4CidrBlock": {
                                "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. This field is deprecated, use cluster.tpu_config.ipv4_cidr_block instead.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "useIpAliases": {
                                "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "useRoutes": {
                                "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "IPAllocationPolicy",
                            "in": "RESPONSE_BODY"
                          },
                          "labelFingerprint": {
                            "description": "The fingerprint of the set of labels for this cluster.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "legacyAbac": {
                            "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
                            "properties": {
                              "enabled": {
                                "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "LegacyAbac",
                            "in": "RESPONSE_BODY"
                          },
                          "location": {
                            "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "locations": {
                            "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster\u0027s nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
                            "items": {
                              "type": "string",
                              "in": "RESPONSE_BODY"
                            },
                            "type": "array",
                            "in": "RESPONSE_BODY"
                          },
                          "loggingConfig": {
                            "description": "LoggingConfig is cluster logging configuration.",
                            "properties": {
                              "componentConfig": {
                                "description": "LoggingComponentConfig is cluster logging component configuration.",
                                "properties": {
                                  "enableComponents": {
                                    "description": "Select components to collect logs. An empty set would disable all logging.",
                                    "items": {
                                      "enum": [
                                        "COMPONENT_UNSPECIFIED",
                                        "SYSTEM_COMPONENTS",
                                        "WORKLOADS"
                                      ],
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "type": "array",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "LoggingComponentConfig",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "LoggingConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "loggingService": {
                            "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "maintenancePolicy": {
                            "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
                            "properties": {
                              "resourceVersion": {
                                "description": "A hash identifying the version of this policy, so that updates to fields of the policy won\u0027t accidentally undo intermediate changes (and so that users of the API unaware of some fields won\u0027t accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "window": {
                                "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
                                "properties": {
                                  "dailyMaintenanceWindow": {
                                    "description": "Time window specified for daily maintenance operations.",
                                    "properties": {
                                      "duration": {
                                        "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario.",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "startTime": {
                                        "description": "Time within the maintenance window to start the maintenance operations. It must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "x-schemaName": "DailyMaintenanceWindow",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "maintenanceExclusions": {
                                    "additionalProperties": {
                                      "$ref": "#/components/schemas/TimeWindow"
                                    },
                                    "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "recurringWindow": {
                                    "description": "Represents an arbitrary window of time that recurs.",
                                    "properties": {
                                      "recurrence": {
                                        "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you\u0027d use: `FREQ\u003dWEEKLY;BYDAY\u003dMO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ\u003dDAILY` For the first weekend of every month: `FREQ\u003dMONTHLY;BYSETPOS\u003d1;BYDAY\u003dSA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you\u0027d use something like: ``` start time \u003d 2019-01-01T09:00:00-0400 end time \u003d 2019-01-01T17:00:00-0400 recurrence \u003d FREQ\u003dWEEKLY;BYDAY\u003dMO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time \u003d 2019-01-05T00:00:00Z end time \u003d 2019-01-07T23:59:00Z recurrence \u003d FREQ\u003dWEEKLY;BYDAY\u003dSA ``` Note the start and end time\u0027s specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
                                        "type": "string",
                                        "in": "RESPONSE_BODY"
                                      },
                                      "window": {
                                        "description": "Represents an arbitrary window of time.",
                                        "properties": {
                                          "endTime": {
                                            "description": "The time that the window ends. The end time should take place after the start time.",
                                            "format": "google-datetime",
                                            "type": "string",
                                            "in": "RESPONSE_BODY"
                                          },
                                          "startTime": {
                                            "description": "The time that the window first starts.",
                                            "format": "google-datetime",
                                            "type": "string",
                                            "in": "RESPONSE_BODY"
                                          }
                                        },
                                        "type": "object",
                                        "x-schemaName": "TimeWindow",
                                        "in": "RESPONSE_BODY"
                                      }
                                    },
                                    "type": "object",
                                    "x-schemaName": "RecurringTimeWindow",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "MaintenanceWindow",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "MaintenancePolicy",
                            "in": "RESPONSE_BODY"
                          },
                          "master": {
                            "description": "Master is the configuration for components on master.",
                            "properties": {},
                            "type": "object",
                            "x-schemaName": "Master",
                            "in": "RESPONSE_BODY"
                          },
                          "masterAuth": {
                            "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
                            "properties": {
                              "clientCertificate": {
                                "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "clientCertificateConfig": {
                                "description": "Configuration for client certificates on the cluster.",
                                "properties": {
                                  "issueClientCertificate": {
                                    "description": "Issue a client certificate.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "ClientCertificateConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "clientKey": {
                                "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "clusterCaCertificate": {
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "password": {
                                "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "username": {
                                "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "MasterAuth",
                            "in": "RESPONSE_BODY"
                          },
                          "masterAuthorizedNetworksConfig": {
                            "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
                            "properties": {
                              "cidrBlocks": {
                                "description": "cidr_blocks define up to 10 external networks that could access Kubernetes master through HTTPS.",
                                "items": {
                                  "description": "CidrBlock contains an optional name and one CIDR block.",
                                  "properties": {
                                    "cidrBlock": {
                                      "description": "cidr_block must be specified in CIDR notation.",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "displayName": {
                                      "description": "display_name is an optional field for users to identify CIDR blocks.",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "x-schemaName": "CidrBlock",
                                  "in": "RESPONSE_BODY"
                                },
                                "type": "array",
                                "in": "RESPONSE_BODY"
                              },
                              "enabled": {
                                "description": "Whether or not master authorized networks is enabled.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "MasterAuthorizedNetworksConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "masterIpv4CidrBlock": {
                            "description": "The IP prefix in CIDR notation to use for the hosted master network. This prefix will be used for assigning private IP addresses to the master or set of masters, as well as the ILB VIP. This field is deprecated, use private_cluster_config.master_ipv4_cidr_block instead.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "monitoringConfig": {
                            "description": "MonitoringConfig is cluster monitoring configuration.",
                            "properties": {
                              "componentConfig": {
                                "description": "MonitoringComponentConfig is cluster monitoring component configuration.",
                                "properties": {
                                  "enableComponents": {
                                    "description": "Select components to collect metrics. An empty set would disable all monitoring.",
                                    "items": {
                                      "enum": [
                                        "COMPONENT_UNSPECIFIED",
                                        "SYSTEM_COMPONENTS",
                                        "WORKLOADS"
                                      ],
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "type": "array",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "MonitoringComponentConfig",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "MonitoringConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "monitoringService": {
                            "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "name": {
                            "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "network": {
                            "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used. On output this shows the network ID instead of the name.",
                            "type": "string",
                            "in": "RESPONSE_BODY"
                          },
                          "networkConfig": {
                            "description": "NetworkConfig reports the relative names of network \u0026 subnetwork.",
                            "properties": {
                              "datapathProvider": {
                                "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
                                "enum": [
                                  "DATAPATH_PROVIDER_UNSPECIFIED",
                                  "LEGACY_DATAPATH",
                                  "ADVANCED_DATAPATH"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "defaultSnatStatus": {
                                "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
                                "properties": {
                                  "disabled": {
                                    "description": "Disables cluster default sNAT rules.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "DefaultSnatStatus",
                                "in": "RESPONSE_BODY"
                              },
                              "dnsConfig": {
                                "description": "DNSConfig contains the desired set of options for configuring clusterDNS.",
                                "properties": {
                                  "clusterDns": {
                                    "description": "cluster_dns indicates which in-cluster DNS provider should be used.",
                                    "enum": [
                                      "PROVIDER_UNSPECIFIED",
                                      "PLATFORM_DEFAULT",
                                      "CLOUD_DNS"
                                    ],
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "clusterDnsDomain": {
                                    "description": "cluster_dns_domain is the suffix used for all cluster service records.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "clusterDnsScope": {
                                    "description": "cluster_dns_scope indicates the scope of access to cluster DNS records.",
                                    "enum": [
                                      "DNS_SCOPE_UNSPECIFIED",
                                      "CLUSTER_SCOPE",
                                      "VPC_SCOPE"
                                    ],
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "DNSConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "enableIntraNodeVisibility": {
                                "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "enableL4ilbSubsetting": {
                                "description": "Whether L4ILB Subsetting is enabled for this cluster.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "network": {
                                "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "privateIpv6GoogleAccess": {
                                "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
                                "enum": [
                                  "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
                                  "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
                                  "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
                                  "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "serviceExternalIpsConfig": {
                                "description": "Config to block services with externalIPs field.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether Services with ExternalIPs field are allowed or not.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "ServiceExternalIPsConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "subnetwork": {
                                "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "NetworkConfig",
                            "in": "RESPONSE_BODY"
                          },
                          "networkPolicy": {
                            "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
                            "properties": {
                              "enabled": {
                                "description": "Whether network policy is enabled on the cluster.",
                                "type": "boolean",
                                "in": "RESPONSE_BODY"
                              },
                              "provider": {
                                "description": "The selected network policy provider.",
                                "enum": [
                                  "PROVIDER_UNSPECIFIED",
                                  "CALICO"
                                ],
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              }
                            },
                            "type": "object",
                            "x-schemaName": "NetworkPolicy",
                            "in": "RESPONSE_BODY"
                          },
                          "nodeConfig": {
                            "description": "Parameters that describe the nodes in a cluster.",
                            "properties": {
                              "accelerators": {
                                "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
                                "items": {
                                  "description": "AcceleratorConfig represents a Hardware Accelerator request.",
                                  "properties": {
                                    "acceleratorCount": {
                                      "description": "The number of the accelerator cards exposed to an instance.",
                                      "format": "int64",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "acceleratorType": {
                                      "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    },
                                    "gpuPartitionSize": {
                                      "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
                                      "type": "string",
                                      "in": "RESPONSE_BODY"
                                    }
                                  },
                                  "type": "object",
                                  "x-schemaName": "AcceleratorConfig",
                                  "in": "RESPONSE_BODY"
                                },
                                "type": "array",
                                "in": "RESPONSE_BODY"
                              },
                              "bootDiskKmsKey": {
                                "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "diskSizeGb": {
                                "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
                                "format": "int32",
                                "type": "integer",
                                "in": "RESPONSE_BODY"
                              },
                              "diskType": {
                                "description": "Type of the disk attached to each node (e.g. \u0027pd-standard\u0027, \u0027pd-ssd\u0027 or \u0027pd-balanced\u0027) If unspecified, the default disk type is \u0027pd-standard\u0027",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "ephemeralStorageConfig": {
                                "description": "EphemeralStorageConfig contains configuration for the ephemeral storage filesystem.",
                                "properties": {
                                  "localSsdCount": {
                                    "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. Each local SSD is 375 GB in size. If zero, it means to disable using local SSDs as ephemeral storage.",
                                    "format": "int32",
                                    "type": "integer",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "EphemeralStorageConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "gvnic": {
                                "description": "Configuration of gVNIC feature.",
                                "properties": {
                                  "enabled": {
                                    "description": "Whether gVNIC features are enabled in the node pool.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "VirtualNIC",
                                "in": "RESPONSE_BODY"
                              },
                              "imageType": {
                                "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "kubeletConfig": {
                                "description": "Node kubelet configs.",
                                "properties": {
                                  "cpuCfsQuota": {
                                    "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is \u0027true\u0027 if unspecified.",
                                    "type": "boolean",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "cpuCfsQuotaPeriod": {
                                    "description": "Set the CPU CFS quota period value \u0027cpu.cfs_period_us\u0027. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  },
                                  "cpuManagerPolicy": {
                                    "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. - \"none\": the default, which represents the existing scheduling behavior. - \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is \u0027none\u0027 if unspecified.",
                                    "type": "string",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "NodeKubeletConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "labels": {
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it\u0027s best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "linuxNodeConfig": {
                                "description": "Parameters that can be configured on Linux nodes.",
                                "properties": {
                                  "sysctls": {
                                    "additionalProperties": {
                                      "type": "string"
                                    },
                                    "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
                                    "type": "object",
                                    "in": "RESPONSE_BODY"
                                  }
                                },
                                "type": "object",
                                "x-schemaName": "LinuxNodeConfig",
                                "in": "RESPONSE_BODY"
                              },
                              "localSsdCount": {
                                "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information.",
                                "format": "int32",
                                "type": "integer",
                                "in": "RESPONSE_BODY"
                              },
                              "machineType": {
                                "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types). If unspecified, the default machine type is `e2-medium`.",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "metadata": {
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-oslogin\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value\u0027s size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
                                "type": "object",
                                "in": "RESPONSE_BODY"
                              },
                              "minCpuPlatform": {
                                "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "nodeGroup": {
                                "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
                                "type": "string",
                                "in": "RESPONSE_BODY"
                              },
                              "oauthScopes": {
                                "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
                                "items": {
                                  "type": "string",
                                  "in": "RESPONSE_BODY"
                                },
                                "type": "array",
                                "in": "RESPONSE_BODY"
[...]
